{% extends 'base.html.twig' %}

{% block body %}
    <h1>ParticipacionComunitaria list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Misiones en la Comunidad</th>
                <th>Existen Organizaciones</th>
                <th>Participa Organizacion</th>
                <th>Preguntas participacion comunitaria</th>
                <th>Area Trabajo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participacionComunitarium in participacionComunitarias %}
            <tr>
                <td><a href="{{ path('participacioncomunitaria_show', { 'id': participacionComunitarium.id }) }}">{{ participacionComunitarium.id }}</a></td>
                <td>{% for cc in participacionComunitarium.misionesComunidad %}
                    <li>{{ cc }}</li>
                {% endfor %}</td>
                <td>{% for orgs in participacionComunitarium.existenOrganizaciones %}{{ orgs.nombre }}<br>{% endfor %}</td>
                <td>{{ participacionComunitarium.participaOrganizacion }}</td>
                <td>{% for preg in participacionComunitarium.preguntasParticipacionComunitaria %}{{ preg.interrogante }}<br>{% endfor %}</td>
                <td>{% for areatrab in participacionComunitarium.areaTabajoCC %}{{ areatrab.nombre }}<br>{% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('participacioncomunitaria_show', { 'id': participacionComunitarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('participacioncomunitaria_edit', { 'id': participacionComunitarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participacioncomunitaria_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
