{% extends 'base.html.twig' %}

{% block body %}
    <h1>GrupoFamiliar list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Apellidos</th>
                <th>Direccion</th>
                <th>Cantidadmiembros</th>
                <th>Vivienda</th>
                <th>Numerocasa</th>
                <th>Sector</th>
                <th>Tiemporesidencia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grupoFamiliar in grupoFamiliars %}
            <tr>
                <td><a href="{{ path('grupofamiliar_show', { 'id': grupoFamiliar.id }) }}">{{ grupoFamiliar.id }}</a></td>
                <td>{{ grupoFamiliar.apellidos }}</td>
                <td>{{ grupoFamiliar.direccion }}</td>
                <td>{{ grupoFamiliar.cantidadMiembros }}</td>
                <td>{{ grupoFamiliar.vivienda }}</td>
                <td>{{ grupoFamiliar.numeroCasa }}</td>
                <td>{{ grupoFamiliar.sector }}</td>
                <td>{{ grupoFamiliar.tiempoResidencia }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('grupofamiliar_show', { 'id': grupoFamiliar.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('grupofamiliar_edit', { 'id': grupoFamiliar.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('grupofamiliar_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
