{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modificar Comité <a href="{{ path('comites_index') }}" class="btn btn-primary pull-right"><i class="fa fa-arrow-left"></i> Ver Todas</a></h1>
    <hr>

    {{ form_start(edit_form) }}
    
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(edit_form.tipoUnidad) }}
            {{ form_row(edit_form.nombre) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(edit_form.voceros) }}
        </div>
    </div>
        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-save"></i> Modificar datos del Cómite</button>
    {{ form_end(edit_form) }}

    <hr class="little">
    {{ form_start(delete_form) }}
        <button type="submit" class="btn btn-block btn-danger"><i class="fa fa-trash"></i> Eliminar Cómite</button>
    {{ form_end(delete_form) }}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/formVoceros.js') }}"></script>
<script>
    $(document).ready(function() {
        var id_a = "comite_tipoUnidad";
        var id_b = "comite_nombre";
        var value = $('#'+id_b).val();

        if ($('#'+id_a).val() != "Unidad Ejecutiva") {
            $('#'+id_b).attr('disabled', true);
            $('#'+id_b).val('');
            $('#'+id_b).parent().addClass('hidden');
        }
        
        $('#'+id_a).on('change', function(){
        switch( $(this).val() ){
            case 'Unidad Ejecutiva':
                $('#'+id_b).removeAttr('disabled');
                $('#'+id_b).parent().removeClass('hidden');
                $('#'+id_b).val(value);
            break;
            case 'Unidad Administrativa y Financiera Comunitaria':
                $('#'+id_b).attr('disabled', true);
                $('#'+id_b).val('');
                $('#'+id_b).parent().addClass('hidden');
            break;
            case 'Unidad de Contraloría Social':
                $('#'+id_b).attr('disabled', true);
                $('#'+id_b).val('');
                $('#'+id_b).parent().addClass('hidden');
            break;
            case 'Comisión Electoral Permanente':
                $('#'+id_b).attr('disabled', true);
                $('#'+id_b).val('');
                $('#'+id_b).parent().addClass('hidden');
            break;
        }
    })
        // $('.ui.dropdown').dropdown();
        // $('.js-datepicker').datepicker({ format: 'yyyy-mm-dd' });
    })
</script>
{% endblock %}
