{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">Incapacidades</div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Incapacidad</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            {% for adminIncapacidade in adminIncapacidades %}
                <tr>
                    {# <td><a href="{{ path('configurable_incapacidades_show', { 'id': adminIncapacidade.id }) }}">{{ adminIncapacidade.id }}</a></td> #}
                    <td>{{ adminIncapacidade.incapacidad }}</td>
                    <td>
                        <a id="forModalEdit" href="{{ path('configurable_incapacidades_edit', { 'id': adminIncapacidade.id }) }}"><i class="fa fa-edit fa-fw"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        
    <a class="btn btn-primary" href="{{ path('configurable_incapacidades_new') }}" id="forModal"><i class="fa fa-plus fa-fw"></i> Agregar Nueva</a>
    
{% endblock %}
