{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Situaci贸n Econ贸mica</h2>
    <hr>
    <div class="row">
    {{ form_start(edit_form) }}
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{ form_row(edit_form.dondeTrabaja) }}
                    {{ form_row(edit_form.actividadComercialenVivienda) }}
                    {{ form_row(edit_form.placa) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{ form_row(edit_form.ingresoFamiliar) }}
                    {{ form_row(edit_form.ingresoFamiliarEspecifico) }}
                </div>
            </div>
        </div>

        <div class="col-sm-12"><input class="btn btn-primary btn-block" type="submit" value="Guardar Cambios en Situaci贸n Econ贸mica y Regresar a la Planilla" /></div>
    {{ form_end(edit_form) }}
    </div>
    <input id="addAjax" type="hidden" data-url="{{ path('situacioneconomica_new_ajax') }}">
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
            $('.fluid.multiple.search.selection').dropdown({ 
                allowAdditions: true,
                onAdd: function(addedValue, addedText, $addedChoice) {
                    $('[name=situacion_economica]').submit(function(e){ e.preventDefault(); });
                    $.ajax({
                        url: $('#addAjax').data('url'),
                        type: "POST",
                        data: {
                            'nombre': addedText,
                            'tipo'  : 'actividad_vivienda',
                        },
                        success: function(data, textStatus, xhr){
                            if (data != null) {
                                option = $('#situacion_economica_actividadComercialenVivienda').children('[value="'+data.nombre+'"]');
                                option.val(data.id);
                                $(option).attr('selected','selected');

                                $.alert({
                                    theme: 'black',
                                    title: 'Exito!',
                                    content: data.respuesta,
                                });
                            }
                        },
                        error: function(data){
                            $addedChoice.remove();
                        },
                        complete: function(){
                            $('[name=situacion_economica]').unbind('submit')
                        },
                    });
                },
            });
        })
    </script>
{% endblock %}