{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Situaci贸n Econ贸mica</h2>
    <hr>
    <div class="row">
    {{ form_start(edit_form) }}
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{ form_row(edit_form.dondeTrabaja) }}
                    {{ form_row(edit_form.actividadComercialenVivienda) }}
                    {{ form_row(edit_form.placa) }}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {{ form_row(edit_form.ingresoFamiliar) }}
                    {{ form_row(edit_form.ingresoFamiliarEspecifico) }}
                </div>
            </div>
        </div>

        <div class="col-sm-12"><input class="btn btn-primary btn-block" type="submit" value="Guardar Cambios en Situaci贸n Econ贸mica y Regresar a la Planilla" /></div>
    {{ form_end(edit_form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.ui.dropdown')
              .dropdown();
        })
    </script>
{% endblock %}