{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminTipoTenencia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Forma</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adminTipoTenencium in adminTipoTenencias %}
            <tr>
                <td><a href="{{ path('configurable_tipo_tenencia_show', { 'id': adminTipoTenencium.id }) }}">{{ adminTipoTenencium.id }}</a></td>
                <td>{{ adminTipoTenencium.forma }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configurable_tipo_tenencia_show', { 'id': adminTipoTenencium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configurable_tipo_tenencia_edit', { 'id': adminTipoTenencium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurable_tipo_tenencia_new') }}" id="forModal">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
