{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminTipoSituacionExclusion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adminTipoSituacionExclusion.id }}</td>
            </tr>
            <tr>
                <th>Situacion</th>
                <td>{{ adminTipoSituacionExclusion.situacion }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ adminTipoSituacionExclusion.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurable_tipo_situacion_exclusion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configurable_tipo_situacion_exclusion_edit', { 'id': adminTipoSituacionExclusion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
