{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6"><h1 class="text-center">Actualizar Situación Vivienda</h1></div>
        <div class="col-sm-6">
            <p class="marginless"><span class="negritas">Planilla # {{ edit_form.vars.value.planilla.id }}</span></p>
            <p class="marginless"><span class="negritas">Jefe Grupo Familiar:</span> {{ edit_form.vars.value.planilla.JefeGrupoFamiliar.nombreyapellido() }}</p>
            <p class="marginless"><span class="negritas">Fecha última edición: </span>{{ edit_form.vars.value.planilla.fechayhora() }}</p>
        </div>
    </div>
    <hr>
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(edit_form.condicionesTerreno) }}</div>
                            <div class="col-sm-6">{{ form_row(edit_form.tenencia) }}</div>
                        </div>
                        {{ form_row(edit_form.tipo) }}
                        {{ form_row(edit_form.habitaciones) }}
                        {{ form_row(edit_form.cantidadHabitaciones) }}
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(edit_form.terrenoPropio) }}</div>
                            <div class="col-sm-6">{{ form_row(edit_form.ovc) }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(edit_form.paredes) }}</div>
                            <div class="col-sm-6">{{ form_row(edit_form.techo) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(edit_form.sivih) }}</div>
                            <div class="col-sm-6">{{ form_row(edit_form.leypoliticahabitacional) }}</div>
                        </div>
                        {{ form_row(edit_form.enseres) }}
                        {{ form_row(edit_form.salubridad) }}
                        {{ form_row(edit_form.presenciaInsectos) }}
                        {{ form_row(edit_form.mascota) }}
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-primary btn-block" type="submit" value="Actualizar Datos Situación de Vivienda y Regresar a la Planilla" />
    {{ form_end(edit_form) }}
    <input id="addAjax" type="hidden" data-url="{{ path('new_element_ajax') }}">
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
            $('.fluid.multiple.search.selection').dropdown({ 
                allowAdditions: true,
                onAdd: function(addedValue, addedText, $addedChoice) {
                    element = $(this).prop('id');
                    $('[name=situacion_vivienda]').submit(function(e){ e.preventDefault(); });
                    $.ajax({
                        url: $('#addAjax').data('url'),
                        type: "POST",
                        data: {
                            'nombre': addedText,
                            'tipo'  : element,
                        },
                        success: function(data, textStatus, xhr){
                            if (data != null) {
                                option = $('#'+element).children('[value="'+data.nombre+'"]');
                                option.val(data.id);
                                $(option).attr('selected','selected');

                                $.alert({
                                    theme: 'black',
                                    title: 'Exito!',
                                    content: data.respuesta,
                                });
                            }
                        },
                        error: function(data){
                            $addedChoice.remove();
                        },
                        complete: function(){
                            $('[name=situacion_vivienda]').unbind('submit')
                        },
                    });
                },
            });
        })
    </script>
{% endblock %}