{% extends 'base.html.twig' %}

{% block body %}
    <h1>Situación Vivienda</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Tenencia</th>
                <th>Terrenopropio</th>
                <th>Habitaciones</th>
                <th>Cantidadhabitaciones</th>
                <th>Paredes</th>
                <th>Techo</th>
                <th>Enseres</th>
                <th>Salubridad</th>
                <th>Presenciainsectos</th>
                <th>Mascota</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situacionVivienda in situacionViviendas %}
            <tr>
                <td><a href="{{ path('situacionvivienda_show', { 'id': situacionVivienda.id }) }}">{{ situacionVivienda.id }}</a></td>
                <td>{{ situacionVivienda.tipo }}</td>
                <td>{{ situacionVivienda.tenencia }}</td>
                <td>{{ situacionVivienda.terrenoPropio }}</td>
                <td>{% for habitacion in situacionVivienda.habitaciones %}{{ habitacion.nombre }}{% endfor %}</td>
                <td>{{ situacionVivienda.cantidadHabitaciones }}</td>
                <td>{{ situacionVivienda.paredes }}</td>
                <td>{{ situacionVivienda.techo }}</td>
                <td>{% for enseres in situacionVivienda.enseres %}{{ enseres.nombre }}{% endfor %}</td>
                <td>{{ situacionVivienda.salubridad }}</td>
                <td>{% for ins in situacionVivienda.presenciaInsectos %}{{ ins.nombre }}{% endfor %}</td>
                <td>{% for mas in situacionVivienda.mascota %}{{ mas.nombre }}{% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('situacionvivienda_show', { 'id': situacionVivienda.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('situacionvivienda_edit', { 'id': situacionVivienda.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('situacionvivienda_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
