{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6"><small class="text-info">ant. Situación Económica</small></div>
        <div class="col-xs-6 text-right"><small class="text-info">sig. Situación Salud</small></div>
    </div>
    <div class="progress">
      <div class="progress-bar active progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
        Paso 5 de 9
      </div>
    </div>

    <h1>Situación Vivienda</h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ form_row(form.habitaciones) }}
                        {{ form_row(form.cantidadHabitaciones) }}
                        {{ form_row(form.tipo) }}
                        {{ form_row(form.tenencia) }}
                        {{ form_row(form.terrenoPropio) }}
                        {{ form_row(form.ovc) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ form_row(form.paredes) }}
                        {{ form_row(form.techo) }}
                        {{ form_row(form.enseres) }}
                        {{ form_row(form.salubridad) }}
                        {{ form_row(form.presenciaInsectos) }}
                        {{ form_row(form.mascota) }}
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-primary btn-block" type="submit" value="Registrar Situación de Vivienda y Continuar" />
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
            $('.fluid.multiple.search.selection').dropdown({ allowAdditions: true });
        })
    </script>
{% endblock %}