{% extends 'base.pdf.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="negritas text-center">CUADERNO DE VOTACIÓN</h2>
            <table class="table table-bordered">
            	<thead>
                        <tr>
                              <th colspan="6">
                                    <table class="table table-bordered">
                                          <tbody>
                                                <tr>
                                                      <td><span class="negritas">Estado:</span> {{ comunidad.estado }}</td>
                                                      <td><span class="negritas">Municipio:</span> {{ comunidad.municipio }}</td>
                                                      <td><span class="negritas">Parroquía:</span> {{ comunidad.parroquia }}</td>
                                                </tr>
                                                <tr>
                                                      <td><span class="negritas">Consejo Comunal:</span> {{ consejo.nombre }}</td>
                                                      <td colspan="2"><span class="negritas">Lugar o Centro de Votación:</span> </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </th>
                        </tr>
            		<tr>
            			<th class="text-center">N°</th>
            			<th class="text-center col-sm-3">Apellido y Nombre</th>
            			<th class="text-center col-sm-1">Cédula</th>
            			<th class="text-center">Sello</th>
            			<th class="text-center">Firma</th>
            			<th class="text-center">Huella</th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for votante in votantes %}
            		<tr>
            			<td class="text-center">{{ loop.index }}</td>
            			<td>{{ votante.apellido_nombre_cuaderno|raw }}</td>
            			<td class="text-center">{{ votante.cedula() }}</td>
            			<td></td>
            			<td></td>
            			<td></td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
        </div>
    </div>
{% endblock %}