{% extends 'base.pdf.html.twig' %}
{% block stylesheets %}
<style>
	html, body { font-family: 'Arial', sans-serif; font-size: 18px; }
    html {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .img-responsive,
    .thumbnail > img,
    .thumbnail a > img,
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    .marginless{ margin: 0 0 0px !important; }
    .tight{ padding: 0 2px 0 5px !important; }
</style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="negritas text-center marginless">ESTUDIO DEMOGRÁFICO Y SOCIOECONOMICO</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width: 78%" colspan="3">
                        	<span class="text-uppercase negritas">Consejo Comunal:</span> {{ consejo.nombre }} <br>
                        </td>
                        <td style="width: 22%" colspan="1">
                        	<span class="text-uppercase negritas">Planilla N°:</span> {{ planilla.id }}<br>
                        </td>
                    </tr>
                    <tr>
                    	<td><span class="text-uppercase negritas">Codigo:</span> {{ consejo.codigo }}</td>
                    	<td><span class="text-uppercase negritas">RIF:</span> {{ consejo.rif }}</td>
                    	<td><span class="text-uppercase negritas">NRO Cuenta:</span> {{ consejo.numeroCuenta }}</td>
                        <td><span class="text-uppercase negritas">Fecha:</span> {{ planilla.fechaCron }}</td>
                    </tr>
                </tbody>
            </table>

			<p class="negritas text-uppercase negritas tight marginless">I. UBICACIÓN GEOGRÁFICA DE LA COMUNIDAD</p>
            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                    	<td><span class="text-uppercase negritas">Estado:</span><br> {{ comunidad.estado }}</td>
                        <td><span class="text-uppercase negritas">Municipio:</span><br> {{ comunidad.municipio }}</td>
                        <td><span class="text-uppercase negritas">Parroquia:</span><br> {{ comunidad.parroquia }}</td>
                        <td><span class="text-uppercase negritas">Sector:</span><br> {{ comunidad.sector }}</td>
                        <td><span class="text-uppercase negritas">Nombre de la Comunidad:</span><br> {{ comunidad.comunidad }}</td>
                        <td><span class="text-uppercase negritas">Dirección:</span><br> {{ planilla.grupoFamiliar.getDireccionCompleta }}</td>
                    </tr>
                </tbody>
            </table>

			<p class="negritas text-uppercase negritas tight marginless">ii. datos personales del jefe del grupo familiar</p>
            <table class="table table-bordered table-condensed">
                <tbody>
                	<tr>
                    	<td>
                    		<span class="text-uppercase negritas">NOMBRES:</span> {{ planilla.jefeGrupoFamiliar.nombres }}<br>
                    		<span class="text-uppercase negritas">APELLIDOS:</span> {{ planilla.jefeGrupoFamiliar.apellidos }}
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">C.I. N°:</span> {{ planilla.jefeGrupoFamiliar.cedula }}<br>
                    		<span class="text-uppercase negritas">Nacionalidad:</span> {{ planilla.jefeGrupoFamiliar.nacionalidad }}
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">Fec. Nac.:</span> {{ planilla.jefeGrupoFamiliar.fechaNacimientoCorta }} <br>
                    		<span class="text-uppercase negritas">Edad:</span> {{ planilla.jefeGrupoFamiliar.edad }} años	
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">CNE:</span> {{ planilla.jefeGrupoFamiliar.cne }} <br>
                    		<span class="text-uppercase negritas">Tiempo en la Comunidad:</span> {{ planilla.jefeGrupoFamiliar.tiempoEnComunidad }} años
                    	</td>
                    	<td class="text-center">
                    		<span class="text-uppercase negritas">Sexo:</span><br>{{ planilla.jefeGrupoFamiliar.sexo }}
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<span class="text-uppercase negritas">Discapacidad:</span> {{ planilla.jefeGrupoFamiliar.incapacitadoPlanilla }}<br>
                    		<span class="text-uppercase negritas">Pensionado:</span> {{ planilla.jefeGrupoFamiliar.pensionadoPlanilla }}
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">Estado Civil:</span><br>{{ planilla.jefeGrupoFamiliar.estadoCivil }}
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">Nivel de Instrucción</span><br>{{ planilla.jefeGrupoFamiliar.nivelInstruccion }}
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">Profesión/Oficio:</span><br>{{ planilla.jefeGrupoFamiliar.profesion }}
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">Trabaja Actualmente:</span><br>{{ planilla.jefeGrupoFamiliar.trabajaActualmente }}
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<span class="text-uppercase negritas">Telefonos:</span> <br>{% for tlf in planilla.jefeGrupoFamiliar.telefono %} {{ tlf }} {% endfor %}
                    	</td>
                    	<td>
                    		<span class="text-uppercase negritas">E-mail:</span> <br>{{ planilla.jefeGrupoFamiliar.emailPlanilla }}
                    	</td>
                    	<td colspan="2"><span class="text-uppercase negritas">Clasificación del Ingreso Familiar:</span> <br>{{ planilla.jefeGrupoFamiliar.ingresoFamiliar }}</td>
                    	<td><span class="text-uppercase negritas">Ingreso Mensual:</span> <br>{{ planilla.jefeGrupoFamiliar.ingresoMensual_fmt }} Bs.</td>
                    </tr>
                </tbody>
            </table>
			
			<p class="negritas text-uppercase negritas tight marginless">iii. Caracteristicas del Grupo Familiar</p>
            <table class="table table-bordered table-condensed" style="font-size: 17px;">
            	<thead>
            		<tr>
            			<th>N°</th>
            			<th>Nombres y Apellidos</th>
            			<th>Sexo</th>
            			<th class="text-center">C.I</th>
            			<th>F/Ncto.</th>
            			<th>Edad</th>
            			<th>Disca.</th>
            			<th>Embarazo<br>Temp</th>
            			<th>Parentezco</th>
            			<th>Instrucción</th>
            			<th>CNE</th>
            			<th>Profesión</th>
            			<th>Pesn.</th>
            			<th>Ing. Mensual</th>
            		</tr>
            	</thead>
                <tbody>
                	{% for persona in planilla.grupoFamiliar.miembros %}
					<tr>
						<td class="text-center">{{ loop.index }}</td>
						<td>{{ persona.nombre }} {{ persona.apellido }}</td>
						<td class="text-center">{{ persona.sexoPlanilla }}</td>
						<td class="text-center">{{ persona.cedula }}</td>
						<td class="text-center">{{ persona.fechaNacimientoCorta() }}</td>
						<td class="text-center">{{ persona.edadPlanilla }}</td>
						<td class="text-center">{{ persona.incapacitado|title }}{% if persona.incapacitadoTipo != '' %}, {{persona.incapacitadoTipo }}{% endif %}</td>
						<td class="text-center">{{ persona.embarazoTemprano|title }}</td>
						<td class="text-center">{{ persona.parentesco }}</td>
						<td class="text-center">{{ persona.gradoInstruccion }}</td>
						<td class="text-center">{{ persona.cne }}</td>
						<td class="text-center">{{ persona.profesion }}</td>
						<td class="text-center">{{ persona.pensionado|title }}</td>
						<td class="text-center">{{ persona.ingresoMensual_fmt }} Bs</td>
					</tr>
					{% endfor %}
					<tr>
						<td colspan="14">
							<span class="text-uppercase negritas">Observaciones:</span> {{ planilla.observaciones }}
						</td>
					</tr>
                </tbody>
            </table>

            <span style="page-break-after: always;"></span>

			<p class="negritas text-uppercase negritas tight marginless">iv. Situación Económica</p>
			<table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                    	<td style="width: 30%"><span class="text-uppercase negritas">Trabaja:</span> {% if planilla.situacionEconomica.dondeTrabaja == null %}No especificó{% endif %}{{ planilla.situacionEconomica.dondeTrabaja }}</td>
                    	<td style="width: 70%"><span class="text-uppercase negritas">Realiza algún tipo de actividad comercial dentro de la vivienda:</span> {% if planilla.situacionEconomica.actividadComercialenVivienda|length == 0 %}No especificó ninguna{% endif %}{% for item in planilla.situacionEconomica.actividadComercialenVivienda %}{{ item }} {% endfor %}</td>
                    </tr>
                    <tr>
                    	<td><span class="text-uppercase negritas">Ingreso Familiar:</span> {{ planilla.situacionEconomica.ingresoFamiliar_fmt }} Bs.</td>
                    	<td>{% if planilla.situacionEconomica.ingresoFamiliarEspecifico == null %}No especificó{% endif %}{{ planilla.situacionEconomica.ingresoFamiliarEspecifico }}</td>
                    </tr>
                    <tr>
                    	<td colspan="2"><span class="text-uppercase negritas">Vehículo(s):</span> {% if planilla.situacionEconomica.placa == '' %}No se especificó alguno.{% endif %}{{ planilla.situacionEconomica.placa }}</td>
                    </tr>
                </tbody>
            </table>

            <p class="negritas text-uppercase negritas tight marginless">iv. Situación Vivienda</p>
			<table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                    	<td><span class="text-uppercase negritas">Condiciones del Terreno:</span> {{ planilla.situacionVivienda.condicionesTerreno }}</td>
                    	<td><span class="text-uppercase negritas">Forma de Tenencia:</span> {{ planilla.situacionVivienda.tenencia }}</td>
                    	<td><span class="text-uppercase negritas">Tipo de Vivienda:</span> {{ planilla.situacionVivienda.tipo }}</td>
                    	<td><span class="text-uppercase negritas">Habitaciones Vivienda:</span> {% for item in planilla.situacionVivienda.habitaciones %}{{ item }} {% endfor %}</td>
                    	<td><span class="text-uppercase negritas">Pertenece UD. a una (OCV):</span> {{ planilla.situacionVivienda.ovc }}</td>
                    	<td><span class="text-uppercase negritas">Terreno Propio:</span> {{ planilla.situacionVivienda.terrenoPropio }}</td>
                    </tr>
                    <tr>
                    	<td><span class="text-uppercase negritas">Paredes:</span> {{ planilla.situacionVivienda.paredes }}</td>
                    	<td><span class="text-uppercase negritas">Tipo de Techo:</span> {{ planilla.situacionVivienda.techo }}</td>
                    	<td colspan="2"><span class="text-uppercase negritas">Esta inscrita en el SIVIH:</span> {{ planilla.situacionVivienda.sivih }}<br><span class="text-uppercase negritas">Cotiza Ley de Politica Habitacional:</span> {{ planilla.situacionVivienda.leypoliticahabitacional }}</td>
                    	<td><span class="text-uppercase negritas">Enseres Vivienda:</span> {% for item in planilla.situacionVivienda.enseres %}{{ item }}. {% endfor %}</td>
                    	<td><span class="text-uppercase negritas">Condiciones de Salubridad:</span> {{ planilla.situacionVivienda.salubridad }}</td>
                    </tr>
                    <tr>
                    	<td colspan="3">
                    		<span class="text-uppercase negritas">Presencia de Insectos y Roedores:</span> 
                            {% if planilla.situacionVivienda.presenciaInsectos|length == 0 %}No indicó alguna.{% endif %}{% for item in planilla.situacionVivienda.presenciaInsectos %}{{ item }} {% endfor %}
                    	</td>
                    	<td colspan="3">
                    		<span class="text-uppercase negritas">Tiene animales domesticos en la vivienda:</span> 
                            {% if planilla.situacionVivienda.mascota|length == 0 %}No indicó alguna.{% endif %}{% for item in planilla.situacionVivienda.mascota %}{{ item }} {% endfor %}
                    	</td>
                    </tr>
                </tbody>
            </table>

            <p class="negritas text-uppercase negritas tight marginless">vi. Salud</p>
			<table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                    	<td style="width: 33.333%"><span class="text-uppercase negritas">¿Existen en su núcleo familiar personas que padezcan de?</span>{% if planilla.situacionSalud.padecencia|length == 0 %}No especificó ninguno{% endif %}{% for item in planilla.situacionSalud.padecencia %}{{ item }} {% endfor %}</td>

                    	<td style="width: 33.333%"><span class="text-uppercase negritas">¿Necesita usted de alguna ayuda especial para familiares enfermos en su hogar?</span> {% if planilla.situacionSalud.ayudaEspecial|length == 0 %}No especificó ninguno{% endif %}{% for item in planilla.situacionSalud.ayudaEspecial %}{{ item }} {% endfor %}</td>

                    	<td style="width: 33.333%"><span class="text-uppercase negritas">Situación de Exclusión:</span> {% if planilla.situacionSalud.situacionExclusion|length == 0 %}No se ha registrado ninguna{% endif %}{% for item in planilla.situacionSalud.situacionExclusion %}{{ item.situacion }} - Cant: {{ item.cantidad }}. {% endfor %}</td>
                    </tr>
                </tbody>
            </table>

            <p class="negritas text-uppercase negritas tight marginless">vii. servicios</p>
            <table class="table table-bordered table-condensed">
                <tbody>
                	<tr>
                		<td>
                			<span class="text-uppercase negritas">Suministro de Aguas Blancas: </span>{{ planilla.situacionServicios.aguasBlancas }} <br><span class="text-uppercase negritas">Medidor de Consumo: </span>{{ planilla.situacionServicios.medidor }}<br><span class="text-uppercase negritas">Capacidad del Tanque: </span>{{ planilla.situacionServicios.ltsTanque }} lts
                		</td>
                		<td>
                			<span class="text-uppercase negritas">Cant. Pipotes: </span>{{ planilla.situacionServicios.cantPipotes }} pipotes <br><span class="text-uppercase negritas">Servicio de Aguas Servidas: </span>{{ planilla.situacionServicios.aguasServidas }}<br><span class="text-uppercase negritas">Suministro de Gas: </span>{{ planilla.situacionServicios.gas }}, {{ planilla.situacionServicios.cantBombonas }} bombonas de {% if planilla.situacionServicios.capacidadBombona != '' %}{{ planilla.situacionServicios.capacidadBombona }}{% else %}No especificó capacidad.{% endif %}
                		</td>
                		<td>
                			<span class="text-uppercase negritas">Duración y Precio Cilindro: </span>{{ planilla.situacionServicios.precioBombona }} Bs. durante: {% if planilla.situacionServicios.duracionBombona != '' %}{{ planilla.situacionServicios.duracionBombona }}{% else %}No especificó.{% endif %}<br><span class="text-uppercase negritas">Proveedor de Gas: </span>{% if planilla.situacionServicios.empresaGas == '' %}No aplica{% else %}{{ planilla.situacionServicios.empresaGas }}{% endif %}<br><span class="text-uppercase negritas">Suministro Eléctrico: </span>{{ planilla.situacionServicios.sistemaElectrico }}
                		</td>
                		<td>
                			<span class="text-uppercase negritas">Posee Medidor Electrico: </span>{{ planilla.situacionServicios.medidorElectrico }}<br><span class="text-uppercase negritas">Posee Bombillos Ahorradores de Energía: </span>{{ planilla.situacionServicios.bombillosAhorradores }}<br><span class="text-uppercase negritas">Recolección de Basura: </span>{% if planilla.situacionServicios.recoleccionBasura == '' %}No especificó ninguno{% endif %}{{ planilla.situacionServicios.recoleccionBasura }}
                		</td>
                	</tr>
                	<tr>
                		<td><span class="text-uppercase negritas">Telefonía: </span>{% if planilla.situacionServicios.telefonia|length == 0 %}No especificó alguno.{% endif %}{% for telefonia in planilla.situacionServicios.telefonia %}{{ telefonia.nombre }}. {% endfor %}</td>

                		<td><span class="text-uppercase negritas">Transporte: </span>{% if planilla.situacionServicios.transporte|length == 0 %}No especificó alguno.{% endif %}{% for transporte in planilla.situacionServicios.transporte %}{{ transporte.nombre }}. {% endfor %}</td>

                		<td><span class="text-uppercase negritas">Mecanismos de Información: </span>{% if planilla.situacionServicios.mecanismoInformacion|length == 0 %}No especificó alguno.{% endif %}{% for mecanismoInformacion in planilla.situacionServicios.mecanismoInformacion %}{{ mecanismoInformacion.nombre }}. {% endfor %}</td>

                		<td><span class="text-uppercase negritas">Servicios Comunales: </span>{% if planilla.situacionServicios.serviciosComunales|length == 0 %}No especificó alguno.{% endif %}{% for serviciosComunales in planilla.situacionServicios.serviciosComunales %}{{ serviciosComunales.nombre }}. {% endfor %}</td>
                	</tr>
                </tbody>
            </table>

            <p class="negritas text-uppercase negritas tight marginless">viii. participación comunitaria</p>
            <table class="table table-bordered table-condensed">
                <tbody>
                	<tr>
                		<td><span class="text-uppercase negritas">¿Existen Organizaciones Comunitarias?</span><br>{% if planilla.participacionComunitaria.existenOrganizaciones|length == 0 %}No ha especificado alguna{% endif %}{% for item in planilla.participacionComunitaria.existenOrganizaciones %}<span>{{ item.nombre }}</span>{% endfor %}</td>
                	
                		<td><span class="text-uppercase negritas">¿Participa Usted en alguna de ellas?</span> {{ planilla.participacionComunitaria.participaOrganizacion }}</td>
                	
                		<td><span class="text-uppercase negritas">¿Participa algun miembro de la Familia?</span> {{ planilla.participacionComunitaria.participaMiembroOrganizacion }}</td>
                	
                		<td><span class="text-uppercase negritas">¿Cúales Misiones se están implementando en la Comunidad?</span><br>{% if planilla.participacionComunitaria.misionesComunidad|length == 0 %}No ha especificado alguna{% endif %}{% for item in planilla.participacionComunitaria.misionesComunidad %}<span>{{ item.nombre }} </span>{% endfor %}</td>
                	</tr>
                	<tr>
                		<td colspan="4">{% if planilla.participacionComunitaria.preguntasParticipacionComunitaria|length == 0 %}<tr><td>No respondió ninguna.</td></tr>{% endif %}{% for item in planilla.participacionComunitaria.preguntasParticipacionComunitaria %}{{ item.interrogante }}: r. {{ item.respuesta }}<br>{% endfor %}</td>
                	</tr>
                	<tr>
                		<td colspan="4"><span class="text-uppercase negritas">¿De crearse un Consejo Comunal en su comunidad, en cual área de trabajo le gustaría participar?</span> {% if planilla.participacionComunitaria.areaTabajoCC|length == 0 %}No ha especificado alguna{% endif %}<br>{% for item in planilla.participacionComunitaria.areaTabajoCC %}<span>{{ item.nombre }} </span>{% endfor %}</td>
                	</tr>
                </tbody>
            </table>

            <p class="negritas text-uppercase negritas tight marginless">ix. situación de la comunidad</p>
            <table class="table table-bordered table-condensed">
                <tbody>
                	{% if planilla.situacionComunidad.preguntasSituacionComunidad|length == 0 %}
                		<tr>
                			<td><p class="marginless">No agregó ninguna</p></td>
                		</tr>
					{% endif %}
					{% for preg in planilla.situacionComunidad.preguntasSituacionComunidad %}
						<tr>
							<td><span class="marginless text-cursive">{{ preg.pregunta }}</span> r. {{ preg.respuesta }}</td>
						</tr>
					{% endfor %}
                </tbody>
            </table>

            <table class="table table-bordered table-condensed">
                <tbody>
                    <tr>
                    	<td style="width: 25%"><span class="text-uppercase negritas">Datos del Encuestador:</span><br>{{ planilla.empadronador.nombreyapellido() }}</td>
                    	<td style="width: 25%">N°. <span class="text-uppercase negritas">C.I.:</span> {{ planilla.empadronador.cedula }} <br><span class="text-uppercase negritas">Firma:</span></td>
                    	<td style="width: 25%"><span class="text-uppercase negritas">Datos del Encuestado: <br></span></td>
                    	<td style="width: 25%">N°. <span class="text-uppercase negritas">C.I.: <br> Firma:</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/php">
    //     if ( isset($pdf) ) {
    //         $font = Font_Metrics::get_font("arial", "regular");
    //         $pdf->page_text(520, 735, "Pagina {PAGE_NUM} de {PAGE_COUNT}", $font, 10, array(0,0,0));
    //     }
    </script>
{% endblock %}