{% extends 'base.pdf.html.twig' %}
{% block stylesheets %}
    <style>
        html {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .img-responsive,
        .thumbnail > img,
        .thumbnail a > img,
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
          display: block;
          max-width: 100%;
          height: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        {# <div class="col-sm-12">
            <img src="{{ base_path }}/images/banner_comunas_proteccion_social.jpg" width="80%" style="margin-left: 130px;" class="img-responsive" alt="">
        </div> #}
        <div class="col-sm-12">
            <h2 class="negritas text-center">RESUMEN DEL CENSO DEMOGRÁFICO</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width: 50%"><span class="negritas">Consejo Comunal:</span> {{ consejo }}</td>
                        <td style="width: 50%"><span class="negritas">Parroquía:</span> {{ comunidad.parroquia }}</td>
                    </tr>
                    <tr>
                        <td><span class="negritas">Municipio:</span> {{ comunidad.municipio }}</td>
                        <td><span class="negritas">Estado:</span> {{ comunidad.estado }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr style="font-size: 18px !important;">
                        <th width="360px">CALLE / VEREDA / MANZANA / CALLEJÓN</th>
                        <th>NRO. VIVIENDAS</th>
                        <th>NRO. FAMILIAS</th>
                        <th>NRO. HABITANTES</th>
                        <th>MENORES DE 15</th>
                        <th>MAYORES DE 15 – 17 AÑOS</th>
                        <th>MAYORES DE 18 AÑOS</th>
                        <th>INSCRITOS EN C.N.E.</th>
                        <th>NRO. ELECTORES</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% set num_viviendas = 0 %}
                    {% set num_familias = 0 %}
                    {% set num_habitantes = 0 %}
                    {% set mayoresde = 0 %}
                    {% set menores = 0 %}
                    {% set mayor_edad = 0 %}
                    {% set cne = 0 %}
                    {% set electores = 0 %}

                    {% for sector in sectores %}
                    <tr>
                        <td>{{ sector.sector }}</td>
                        <td>{{ sector.num_viviendas }}{% set num_viviendas = num_viviendas + sector.num_viviendas %}</td>
                        <td>{{ sector.num_familias }}{% set num_familias = num_familias + sector.num_familias %}</td>
                        <td>{{ sector.num_habitantes }}{% set num_habitantes = num_habitantes + sector.num_habitantes %}</td>
                        <td>{{ sector.menores }}{% set menores = menores + sector.menores %}</td>
                        <td>{{ sector.mayoresde }}{% set mayoresde = mayoresde + sector.mayoresde %}</td>
                        <td>{{ sector.mayor_edad }}{% set mayor_edad = mayor_edad + sector.mayor_edad %}</td>
                        <td>{{ sector.cne }}{% set cne = cne + sector.cne %}</td>
                        <td>{{ sector.electores }}{% set electores = electores + sector.electores %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="negritas">TOTALES</td>
                        <td class="negritas">{{ num_viviendas }}</td>
                        <td class="negritas">{{ num_familias }}</td>
                        <td class="negritas">{{ num_habitantes }}</td>
                        <td class="negritas">{{ menores }}</td>
                        <td class="negritas">{{ mayoresde }}</td>
                        <td class="negritas">{{ mayor_edad }}</td>
                        <td class="negritas">{{ cne }}</td>
                        <td class="negritas">{{ electores }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script type="text/php">
    //     if ( isset($pdf) ) {
    //         $font = Font_Metrics::get_font("arial", "regular");
    //         $pdf->page_text(520, 735, "Pagina {PAGE_NUM} de {PAGE_COUNT}", $font, 10, array(0,0,0));
    //     }
    </script>
{% endblock %}