<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>{% block title %}Sistema de Información Comunal{% endblock %}</title>
		
		{% block stylesheets %}{% endblock %}

		<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
		{# <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.css') }}"> #}
		{# <link rel="stylesheet" type="text/css" href="{{ asset('css/darkly-bootstrap.css') }}"> #}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/estilos.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/ie10-viewport-bug-workaround.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/datepicker.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-confirm.css') }}">

		{# Clases de Semantic UI #}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/semantic.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/dropdown.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/transition.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/icon.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/step.css') }}">
		<style>
		@font-face {
		    font-family: 'Open Sans';
		    font-weight: 400;
		    font-style: normal;
		    src: url('{{ asset("fonts/Open-Sans-regular.eot")}}');
		    src: url('{{ asset("fonts/Open-Sans-regular.eot?#iefix")}}') format('embedded-opentype'),
		             local('Open Sans'),
		             local('Open-Sans-regular'),
		             url("{{ asset('fonts/Open-Sans-regular.woff2')}}") format('woff2'),
		             url('{{ asset("fonts/Open-Sans-regular.woff")}}') format('woff'),
		             url('{{ asset("fonts/Open-Sans-regular.ttf")}}') format('truetype'),
		             url('{{ asset("fonts/Open-Sans-regular.svg#OpenSans")}}') format('svg');
		}
		@font-face {
		    font-family: 'Open Sans Condensed';
		    font-weight: 300;
		    font-style: normal;
		    src: url('{{ asset("fonts/Open-Sans-Condensed-300/Open-Sans-Condensed-300.eot")}}');
		    src: url('{{ asset("fonts/Open-Sans-Condensed-300/Open-Sans-Condensed-300.eot?#iefix")}}') format('embedded-opentype'),
		             local('Open Sans Cond Light'),
		             local('Open-Sans-Condensed-300'),
		             url('{{ asset("fonts/Open-Sans-Condensed-300/Open-Sans-Condensed-300.woff2")}}') format('woff2'),
		             url('{{ asset("fonts/Open-Sans-Condensed-300/Open-Sans-Condensed-300.woff")}}') format('woff'),
		             url('{{ asset("fonts/Open-Sans-Condensed-300/Open-Sans-Condensed-300.ttf")}}') format('truetype'),
		             url('{{ asset("fonts/Open-Sans-Condensed-300/Open-Sans-Condensed-300.svg#OpenSansCondensed")}}') format('svg');
		}
		@font-face {
		    font-family: 'Open Sans';
		    font-weight: 400;
		    font-style: italic;
		    src: url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.eot")}}');
		    src: url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.eot?#iefix")}}') format('embedded-opentype'),
		             local('Open Sans Italic'),
		             local('Open-Sans-italic'),
		             url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.woff2")}}') format('woff2'),
		             url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.woff")}}') format('woff'),
		             url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.ttf")}}') format('truetype'),
		             url('{{ asset("fonts/Open-Sans-italic/Open-Sans-italic.svg#OpenSans")}}') format('svg');
		}
		html, body{ font-family: "Open Sans", sans-serif; }
		</style>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('sic_homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" class="img-responsive"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">

					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CRUDs <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('consejocomunal_index') }}">Consejo Comunal</a></li>
								<li><a href="{{ path('comunidades_index') }}">Comunidades</a></li>
								
								<li><a href="{{ path('usuarios_index') }}">Usuarios</a></li>
								<li><a href="{{ path('jefegrupofamiliar_index') }}">Jefe Grupo Familiar</a></li>
								<li><a href="{{ path('grupofamiliar_index') }}">Grupo Familiar</a></li>
								<li><a href="{{ path('personas_index') }}">Miembros Grupo Familiar</a></li>
								<li><a href="{{ path('situacioneconomica_index') }}">Situación Ecónomica</a></li>
								<li><a href="{{ path('situacionvivienda_index') }}">Situación Vivienda</a></li>
								<li><a href="{{ path('situacionsalud_index') }}">Situación Salud</a></li>
								<li><a href="{{ path('situacionservicios_index') }}">Situación Servicios</a></li>
								<li><a href="{{ path('participacioncomunitaria_index') }}">Participación Comunitaria</a></li>
								<li><a href="{{ path('situacioncomunidad_index') }}">Situación Comunitaria</a></li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">

						<li class="dropdown">
							<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administar <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('sic_administacion_entidades') }}"><i class="fa fa-users"></i> Datos Consejo Comunal</a></li>
								<li><a href="{{ path('sic_administacion_parametros_planilla') }}"><i class="fa fa-cogs"></i> Parámetros en Encuestas</a></li>
								<li><a href="{{ path('noticia_index') }}"><i class="fa fa-newspaper-o"></i> Noticias</a></li>
								<li><a href="{{ path('noticia_correo') }}"><i class="fa fa-envelope"></i> Correo Comunitario</a></li>
								<li><a href="{{ path('bitacora_index') }}"><i class="fa fa-compass"></i> Bitácora del Sistema</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Encuestas <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('planillas_index') }}"><i class="fa fa-file-o"></i> Listar Encuestas</a></li>
								<li><a href="{{ path('planillas_new') }}"><i class="fa fa-clipboard"></i> Nueva Encuesta</a></li>
								<li><a href="#"><i class="fa fa-edit"></i> Modificar Encuesta</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('usuarios_index') }}"><i class="fa fa-th-list"></i> Listar Usuarios</a></li>
								<li><a href="{{ path('usuarios_new') }}"><i class="fa fa-plus"></i> Agregar Usuario</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle negritas" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.primerNombre }} {{ app.user.primerApellido }} <span class="caret"></span></a>
							<ul class="dropdown-menu">
								{# <li><a type="button" href="{{ path('fos_user_profile_show') }}">{{ app.user.primerNombre }} {{ app.user.primerApellido }}</a></li> #}
								<li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-eye"></i> Ver perfil</a></li>
								<li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-edit"></i> Editar perfil</a></li>
							</ul>
						</li>

						<li class="btn-danger"><a style="color: #FFF;" href="{{ path('fos_user_security_logout') }}" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión"><i class="fa fa-power-off fa-lg"></i>  <span class="visible-xs">Cerrar Sesión</span></a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success text-center">
				<a href="#" class="close" {# data-dismiss="alert" aria-label="close" #} id="mensaje-a-esconder">&times;</a>
				<strong>Éxito!</strong> {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('info') %}
			<div class="alert alert-info text-center">
				<a href="#" class="close" {# data-dismiss="alert" aria-label="close" #} id="mensaje-a-esconder">&times;</a>
				<strong>Enhorabuena!</strong> {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('warning') %}
			<div class="alert alert-warning text-center">
				<a href="#" class="close" {# data-dismiss="alert" aria-label="close" #} id="mensaje-a-esconder">&times;</a>
				<strong>No puede continuar!</strong> {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger text-center">
				<a href="#" class="close" {# data-dismiss="alert" aria-label="close" #} id="mensaje-a-esconder">&times;</a>
				<strong>Disculpe!</strong> {{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('danger') %}
			<div class="alert alert-danger text-center">
				<a href="#" class="close" {# data-dismiss="alert" aria-label="close" #} id="mensaje-a-esconder">&times;</a>
				<strong>Disculpe!</strong> {{ flashMessage }}
			</div>
		{% endfor %}

		<div class="container-fluid">

			<span id="cuerpo">
			{% block body %}{% endblock %}
			</span>
		</div> <!-- /container -->

		<footer class="footer">
			<div class="container-fluid">
				<p class="text-muted text-center negritas" style="margin-top: 10px; color: #6d4c41">Sistema de Información Comunal <br><small>Luis Pérez | Proyecto Trabajo Especial de Grado</small><br><small>Universidad de Carabobo - Facultad Experimental de Ciencias y Tencología</small> </p>
			</div>
		</footer>

		<script src="{{ asset('js/jquery2.1.4.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script src="{{ asset('js/jquery-confirm.js') }}"></script>
		<script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
		<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
		
		{# JS de Semantic UI #}
		<script src="{{ asset('js/dropdown.js') }}"></script>
		<script src="{{ asset('js/package.js') }}"></script>
		<script src="{{ asset('js/index.js') }}"></script>
		<script src="{{ asset('js/transition.js') }}"></script>
		
		<script>
			$(document).ready(function() {
				$('body').on('click','#mensaje-a-esconder', function(){
					$(this).parent().fadeOut('slow');
				});

				$('[data-toggle="tooltip"]').tooltip()
			});
		</script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
