<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<title>{% block title %}Sistema de Información Comunal{% endblock %}</title>
		
		{% block stylesheets %}{% endblock %}

		<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/ie10-viewport-bug-workaround.css') }}">
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ path('sic_homepage') }}"><img src="{{ asset('images/logo.png') }}" alt="logo" class="img-responsive"></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{{ path('sic_homepage') }}">Inicio</a></li>
						<!-- <li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li> -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CRUDs <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<!-- <li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li role="separator" class="divider"></li> -->
								<li><a href="{{ path('comunidades_index') }}">Comunidades</a></li>
								<li><a href="{{ path('usuarios_index') }}">Usuarios</a></li>
								<li><a href="{{ path('personas_index') }}">Personas</a></li>
								<li><a href="{{ path('consejocomunal_index') }}">Consejo Comunal</a></li>
								<li><a href="{{ path('grupofamiliar_index') }}">Grupo Familiar</a></li>
								<li><a href="{{ path('jefegrupofamiliar_index') }}">Jefe Grupo Familiar</a></li>
								<li><a href="{{ path('situacioneconomica_index') }}">Situación Ecónomica</a></li>
								<li><a href="{{ path('situacionvivienda_index') }}">Situación Vivienda</a></li>
								<li><a href="{{ path('situacionsalud_index') }}">Situación Salud</a></li>
								<li><a href="{{ path('situacionservicios_index') }}">Situación Servicios</a></li>
								<li><a href="{{ path('participacioncomunitaria_index') }}">Participación Comunitaria</a></li>
								<li><a href="{{ path('situacioncomunidad_index') }}">Situacion Comunitaria</a></li>
								<li><a href="{{ path('planillas_index') }}">Planillas</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../navbar/">Default</a></li>
						<li><a href="../navbar-static-top/">Static top</a></li>
						<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container-fluid">
			{% block body %}{% endblock %}
		</div> <!-- /container -->

		<script src="{{ asset('js/jquery2.1.4.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
		<script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
