{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('datatables/datatables.min.css') }}"/>
    <style>
        .dataTables_info, .dataTables_length{ padding-left: 5px; }
        .dataTables_paginate, .dataTables_filter { padding-right: 5px; }
        .dataTables_length, .dataTables_filter{ margin-top: 5px; }
    </style>
{% endblock %}
{% block not_log_title %}<i class="fa fa-newspaper-o"></i> Noticias del Consejo Comunal{% endblock %}
{% block body %}
    <h2 class="text-center">Administración de Correos</h2>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Enviar Comunicado Masivo <i class="fa fa-envelope-o pull-right"></i></div>
                <div class="panel-body">
                    <p>Haga llegar un mensaje a todos los miembros de la comunidad con una dirección de correo electrónico.</p>
                    <a href="#" data-url="{{ path('comunicado_new') }}" id="forModal" class="btn btn-success btn-block"><i class="fa fa-edit"></i> Redactar Mensaje</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Personas Suscritas</div>
                <div class="panel-body text-center">
                    <h1>{{ reciben_correo }}</h1>
                    <small>Cantidad de personas recibiendo su estos correos</small>
                    <a href="{{ path('noticia_correo_usuarios') }}" class="btn btn-block btn-success"><i class="fa fa-envelope-o"></i> Ver Cuentas de Usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-primary">
                <div class="panel-heading">Comunicados Enviados <i class="fa fa-inbox pull-right"></i></div>
                    {# <div class="pre-scrollable"> #}
                    <table id="dataTable" class="table borderless table-hover">
                        <thead class="thead-info">
                            <tr>
                                <th>Título/Cuerpo</th>
                                <th>Emisor</th>
                                <th>Fecha Envio</th>
                                <th>Enviado a</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for correo in comunicados %}
                            <tr>
                                <td class="col-sm-5"><span class="negritas">{{ correo.titulo }}</span> <a class="pull-right" href="{{ path('comunicado_show', {'id':correo.id})}}">ver completo</a><br>{{ correo.cuerpo|slice(0,30) }}</td>
                                <td><a href="{{ path('usuarios_show', {'id':correo.emisor.id }) }}">{{ correo.emisor.nombreyapellido() }}<p class="small marginless">{{ correo.emisor }}</p></a></td>
                                <td>{{ correo.fecha|date('Y-m-d') }}</td>
                                <td>{{ correo.numDestinatarios }} personas</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {# </div> #}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="panel panel-default">
                <div class="panel-heading"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Elemento</h4></div>
                <div class="panel-body" id="body-modal">
                    <span id="modal-body" class="negritas text-center"><div class="well-sm text-center"><img src="{{ asset('images/FlatIcons/hourglass.png') }}" height='60' alt="espere">
                    <hr class="little">
                    Cargando el formulario</div></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            dataTable = $('#dataTable').DataTable( {
                "pageLength": 10,
                // "bLengthChange": false,
                // "info": true,
                'stateSave': true,
                'pagingType': 'full_numbers',
                "language": {
                    "url": "{{ asset('datatables/espanol.js') }}"
                },
                "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "order": [[ 3, "desc" ]],
            });
        });

        $('body').on('click', '#forModal', function(){
            $('#myModalLabel').text('Enviar Comunicado Masivo');
            $('#myModal').modal('show');
            url = $('#forModal').data('url');
            $.ajax({
                url: url,
                type: "GET",
                success: function(data, textStatus, xhr){
                    cuerpo = $(data).find('#cuerpo form').attr('id', 'modal-body');
                    cuerpo = cuerpo.attr('action', url);
                    $('#modal-body').replaceWith(cuerpo);

                    $('#enviarMesanjes').click(function(e){
                        $.confirm({
                            title: "Desea enviar los Mensajes",
                            content: "Tenga paciencia, dependiendo de la cantidad de personas esta opción puede tardar.",
                            theme: 'black',
                            confirmButtonClass: 'btn-danger',
                            cancelButtonClass: 'btn-info',
                            confirm: function(){
                                $.confirm({
                                    theme: 'black',
                                    title: false,
                                    content: 'Para enviarlos presione OKAY',
                                    confirmButtonClass: 'btn-danger',
                                    cancelButtonClass: 'btn-default',
                                    confirm: function(){
                                        $('#modal-body').submit();
                                    }
                                })
                            },
                            cancel: function(e){ $('#modal-body').submit(function(e){ e.preventDefault(); }); }
                        })
                    });

                }
            });
        });
   

        /*Cuando el modal se cierra, regresa a su estado base*/
        $('#myModal').on('hide.bs.modal', function(e){
            $.confirm({
                title: 'Advertencia!',
                content: 'Perderá lo que ha escrito si continua, ¿Desea continuar?',
                onButton: 'Cerrar',
                cancelButton: 'Continuar escribiendo',
                confirmButtonClass: 'btn-danger',
                cancelButtonClass: 'btn-info',
                theme: 'black',
                confirm: function(){
                    html = "<div class='panel-body'><span id='modal-body'><div class='well-sm text-center'><img src='{{ asset('images/FlatIcons/hourglass.png') }}' height='60' alt='espere'><hr class='little'>Cargando el formulario</div></span></div>";
                    $('#body-modal').replaceWith(html)
                },
                cancel: function(){
                    e.preventDefault();
                    $('#myModal').modal('show');
                }
            });
        });
    </script>
{% endblock %}