{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center"> <i class="fa fa-newspaper-o"></i> Noticias del Consejo Comunal</h1>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">Personas Suscritas</div>
                <div class="panel-body text-center">
                    <h1>{{ reciben_correo }}</h1>
                    <small>Cantidad de personas recibiendo sus alertas</small>
                </div>
            </div>
            <a class="btn btn-primary btn-block" href="{{ path('noticia_new') }}"><i class="fa fa-plus"></i> Crear Noticia</a>
            <a class="btn btn-default btn-block" href="{{ path('noticia_newsletter') }}"><i class="fa fa-newspaper-o"></i> Ver Página de Noticias</a>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-info">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-info">
                    <tr>
                        <th>Título</th>
                        <th>Por</th>
                        <th>Fecha última edición</th>
                        <th>Fecha Publicación</th>
                        <th>Visibilidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for noticium in noticias %}
                    <tr>
                        <td>{{ noticium.titulo }}</td>
                        <td>{{ noticium.usuario.nombreyapellido() }}</td>
                        <td>{{ noticium.fechayhora() }}</td>
                        <td>{% if noticium.fechaPub %}{{ noticium.fechaCron() }}{% endif %}</td>
                        <td class="text-center">{% if noticium.visibilidad %} <i class="fa fa-eye"></i> visible {% else %} <i class="fa fa-eye-slash"></i> invisible {% endif %}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" role="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{ path('noticia_show', { 'id': noticium.id }) }}"> <i class="fa fa-info"></i> Mostrar detalles</a></li>
                                    <li><a href="{{ path('noticia_edit', { 'id': noticium.id }) }}"> <i class="fa fa-edit"></i> Modificar detalles</a></li>
                                    <li>{% if noticium.visibilidad %}
                                        <a href="{{ path('noticia_toggle_visibilidad', {'id': noticium.id}) }}"><i class="fa fa-eye-slash"></i> Hacer invisible</a>
                                        {% else %}
                                        <a href="{{ path('noticia_toggle_visibilidad', {'id': noticium.id}) }}"><i class="fa fa-eye"></i> Hacer visible</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
