{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/checkbox.css') }}">
{% endblock %}
{% block body %}
    <h1 class="text-center">Crear Noticia</h1>
    <hr>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-block btn-primary" type="submit" value="Crear Noticia" />
    {{ form_end(form) }}
    <hr class="little">
    <a class="btn btn-default btn-block" href="{{ path('noticia_index') }}">Ver todas</a>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/checkbox.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.ui.checkbox').checkbox('toggle');
        })
    </script>
{% endblock %}