{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminRespCerrada</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adminRespCerrada.id }}</td>
            </tr>
            <tr>
                <th>Respuesta</th>
                <td>{{ adminRespCerrada.respuesta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurable_respuesta_cerrada_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configurable_respuesta_cerrada_edit', { 'id': adminRespCerrada.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
