{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminEstadoCivil</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adminEstadoCivil.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ adminEstadoCivil.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurable_estado_civil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configurable_estado_civil_edit', { 'id': adminEstadoCivil.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
