{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminPreguntasParticipacionComunitaria list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Interrogante</th>
                <th>Respuesta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adminPreguntasParticipacionComunitarium in adminPreguntasParticipacionComunitarias %}
            <tr>
                <td><a href="{{ path('configurables_preguntas_participacion_comunitaria_show', { 'id': adminPreguntasParticipacionComunitarium.id }) }}">{{ adminPreguntasParticipacionComunitarium.id }}</a></td>
                <td>{{ adminPreguntasParticipacionComunitarium.pregunta }}</td>
                <td>{{ adminPreguntasParticipacionComunitarium.interrogante }}</td>
                <td>{{ adminPreguntasParticipacionComunitarium.respuesta }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configurables_preguntas_participacion_comunitaria_show', { 'id': adminPreguntasParticipacionComunitarium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configurables_preguntas_participacion_comunitaria_edit', { 'id': adminPreguntasParticipacionComunitarium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurables_preguntas_participacion_comunitaria_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
