{% extends 'base.html.twig' %}

{% block body %}
    <h1>ConsejoComunal edit</h1>

    <span id="modalCuerpo">
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-sm-6">{{ form_row(edit_form.nombre) }}</div>
            <div class="col-sm-6">{{ form_row(edit_form.codigo) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">{{ form_row(edit_form.rif) }}</div>
            <div class="col-sm-6">{{ form_row(edit_form.numeroCuenta) }}</div>
        </div>
        {{ form_row(edit_form.numeroCuenta) }}

        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-save"></i> Guardar Datos</button>
        
    {{ form_end(edit_form) }}
    </span>
{% endblock %}
