{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Registros: "Estudio Demográfico y Socioeconomico"</h1>

    {# <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Empadronador</th>
                <th>Jefegrupofamiliar</th>
                <th>Miembrosgrupofamiliar</th>
                <th>Situacioneconomica</th>
                <th>Situacionvivienda</th>
                <th>Situacionsalud</th>
                <th>Situacionservicios</th>
                <th>Participacioncomunitaria</th>
                <th>Situacioncomunidad</th>
            </tr>
        </thead>
        <tbody> #}
        <div class="row">
            {% for planilla in planillas %}
              <div class="col-sm-3 col-md-3 col-xs-6">
                <div class="thumbnail">
                  <div class="caption">
                    <h3 class="text-center"><a href="{{ path('planillas_show', { 'id': planilla.id }) }}">Número {{ planilla.id }}</a></h3>
                    <p><a href="{{ path('usuarios_show', { 'id' : planilla.empadronador.id }) }}">{{ planilla.empadronador.primerNombre }} {{ planilla.empadronador.primerApellido }}</a> a {% if planilla.jefeGrupoFamiliar != null %}{{ planilla.jefeGrupoFamiliar.nombres }}{% endif %}</p>
                    <p><a class="btn btn-primary btn-block" href="{{ path('planillas_continuar_encuesta', { 'id_encuesta' : planilla.id }) }}">Continuar Encuesta</a></p>
                  </div>
                </div>
              </div>
            

            {# <tr>
                <td></td>
                <td></td>
                <td>
                    
                    
                </td>
                <td>
                    {% if planilla.jefeGrupoFamiliar != null %}
                        {% if planilla.grupoFamiliar.miembros != null %}
                            {{ planilla.grupoFamiliar.miembros|length }} miembros
                        {% endif %}
                    {% endif %}
                </td>
                <td>{% if planilla.situacionEconomica != null %}{{ planilla.situacionEconomica.id }}{% endif %}</td>
                <td>{% if planilla.situacionVivienda != null %}{{ planilla.situacionVivienda.id }}{% endif %}</td>
                <td>{% if planilla.situacionSalud != null %}{{ planilla.situacionSalud.id }}{% endif %}</td>
                <td>{% if planilla.situacionServicios != null %}{{ planilla.situacionServicios.id }}{% endif %}</td>
                <td>{% if planilla.participacionComunitaria != null %}{{ planilla.participacionComunitaria.id }}{% endif %}</td>
                <td>{% if planilla.situacionComunidad != null %}{{ planilla.situacionComunidad.id }}{% endif %}</td>
                <td><a class="btn button-line" href="{{ path('planillas_continuar_encuesta', { 'id_encuesta' : planilla.id }) }}">Continuar Encuesta</a></td>
            </tr> #}
        {% endfor %}
        </div>
        {# </tbody>
    </table> #}
{% endblock %}
