{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Registros: "Estudio Demográfico y Socioeconomico"</h1>
    <hr>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Empadronador</th>
                <th>Encuestado</th>
                <th>Fecha Modificada</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        <div class="row">
            {% for planilla in planillas %}
                <tr>
                    <td><a href="{{ path('planillas_show', { 'id': planilla.id }) }}">Número {{ planilla.id }}</a></td>
                    <td><a href="{{ path('usuarios_show', { 'id' : planilla.empadronador.id }) }}">{{ planilla.empadronador.primerNombre }} {{ planilla.empadronador.primerApellido }}</a></td>
                    <td>{% if planilla.jefeGrupoFamiliar != null %}{{ planilla.jefeGrupoFamiliar.nombres }}{% endif %}</td>
                    <td>{{ planilla.fecha() }}</td>
                    <td>{% if planilla.terminada != 100 %}
                    <a class="btn btn-xs btn-warning btn-block" href="{{ path('planillas_continuar_encuesta', { 'id_encuesta' : planilla.id }) }}">Continuar Encuesta</a>{% else %}<a class="btn btn-xs btn-primary btn-block" href="{{ path('planillas_show', { 'id': planilla.id }) }}">Ver Encuesta</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
