{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registros: "Estudio Demográfico y Socioeconomico"</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Empadronador</th>
                <th>Jefegrupofamiliar</th>
                <th>Miembrosgrupofamiliar</th>
                <th>Situacioneconomica</th>
                <th>Situacionvivienda</th>
                <th>Situacionsalud</th>
                <th>Situacionservicios</th>
                <th>Participacioncomunitaria</th>
                <th>Situacioncomunidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planilla in planillas %}
            <tr>
                <td><a href="{{ path('planillas_show', { 'id': planilla.id }) }}">{{ planilla.id }}</a></td>
                <td>{{ planilla.empadronador }}</td>
                <td>{{ planilla.jefeGrupoFamiliar.id }}</td>
                <td>{{ planilla.grupoFamiliar.id }} con {{ planilla.grupoFamiliar.miembros|length }} miembros</td>
                <td>{{ planilla.situacionEconomica.id }}</td>
                <td>{{ planilla.situacionVivienda.id }}</td>
                <td>{{ planilla.situacionSalud.id }}</td>
                <td>{{ planilla.situacionServicios.id }}</td>
                <td>{{ planilla.participacionComunitaria.id }}</td>
                <td>{{ planilla.situacionComunidad.id }}</td>
                <td>
                    <a href="{{ path('planillas_show', { 'id': planilla.id }) }}">show</a>
                    <a href="{{ path('planillas_edit', { 'id': planilla.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('planillas_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
