{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="text-center">Registros: "Estudio Demográfico y Socioeconomico"</h1>
    <hr>
    <table id="dataTable" class="table table-bordered table-striped table-hover">
        <thead class="thead-info">
            <tr>
                <th>#</th>
                <th>Empadronador</th>
                <th>Encuestado</th>
                <th>Fecha Modificada</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for planilla in planillas %}
                <tr>
                    <td><a href="{{ path('planillas_show', { 'id': planilla.id }) }}">Número {{ planilla.id }}</a></td>
                    <td><a href="{{ path('usuarios_show', { 'id' : planilla.empadronador.id }) }}">{{ planilla.empadronador.primerNombre }} {{ planilla.empadronador.primerApellido }} <p class="small marginless">{{ planilla.empadronador.cedula }}</p> </a></td>
                    <td>{% if planilla.jefeGrupoFamiliar != null %}{{ planilla.jefeGrupoFamiliar.nombres }} <p class="small marginless">{{ planilla.jefeGrupoFamiliar.cedula }}</p> {% endif %}</td>
                    <td>{{ planilla.fechaCron() }}</td>
                    <td>
                        {% if planilla.terminada != 100 %}
                            <span class="label label-warning">Sin terminar</span>
                        {% else %}
                            <span class="label label-primary">Terminada</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" role="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cogs"></i> Opciones<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                {% if planilla.terminada != 100 %}
                                    <li><a href="{{ path('planillas_continuar_encuesta', { 'id_encuesta' : planilla.id }) }}">Continuar Encuesta</a></li>
                                {% endif %}
                                    <li><a href="{{ path('planillas_show', { 'id': planilla.id }) }}">Ver Encuesta</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            dataTable = $('#dataTable').DataTable( {
                "pageLength": 25,
                "order": [[ 3, "desc" ]]
            });
        });
    </script>
{% endblock %}