{% extends 'base.html.twig' %}

{% block body %}
	<h2>Estudio Demografico y Socioeconomico</h2>
	<hr>

	<div class="jumbotron"><div class="row">
			<div class="col-sm-12">
				<p class="text-center">Está a punto de iniciar el registro de una nueva planilla que contendrá los datos socieconomicos de una familia</p>
			</div>
			{# <div class="col-sm-2">
				<small>Támbien puede continuar con una encuesta anterior sin finalizar. <a href="{{ path('planillas_index') }}">Continuar Encuesta</a></small>
			</div> #}
		</div>
	</div>

	{{ form_start(form) }}
		{{ form_widget(form) }}

		<button class="btn btn-success btn-block btn-lg" type="submit"><i class="fa fa-file-o"></i> Iniciar el registro de los Datos</button>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/formTelefono.js') }}"></script>
	<script src="{{ asset('js/formMiembroGrupoFamiliar.js') }}"></script>
	<script>
		$(document).ready(function() {
			$('.ui.dropdown')
			  .dropdown();
		})
	</script>
{% endblock %}