{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planillas</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planilla.id }}</td>
            </tr>
            <tr>
                <th>Empadronador</th>
                <td>{{ planilla.empadronador }}</td>
            </tr>
            <tr>
                <th>Jefegrupofamiliar</th>
                <td>{{ planilla.jefeGrupoFamiliar.id }}</td>
            </tr>
            <tr>
                <th>Miembrosgrupofamiliar</th>
                <td>{{ planilla.grupoFamiliar.id }}</td>
            </tr>
            <tr>
                <th>Situacioneconomica</th>
                <td>{{ planilla.situacionEconomica.id }}</td>
            </tr>
            <tr>
                <th>Situacionvivienda</th>
                <td>{{ planilla.situacionVivienda.id }}</td>
            </tr>
            <tr>
                <th>Situacionsalud</th>
                <td>{{ planilla.situacionSalud.id }}</td>
            </tr>
            <tr>
                <th>Situacionservicios</th>
                <td>{{ planilla.situacionServicios.id }}</td>
            </tr>
            <tr>
                <th>Participacioncomunitaria</th>
                <td>{{ planilla.participacionComunitaria.id }}</td>
            </tr>
            <tr>
                <th>Situacioncomunidad</th>
                <td>{{ planilla.situacionComunidad.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('planillas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('planillas_edit', { 'id': planilla.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
