{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1>Modificar Datos de Usuario</h1>
        </div>
    </div>    
    <div class="col-sm-10">
        {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(edit_form.primerNombre) }}</div>
                                <div class="col-sm-6">{{ form_row(edit_form.segundoNombre) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">{{ form_row(edit_form.primerApellido) }}</div>
                                <div class="col-sm-6">{{ form_row(edit_form.segundoApellido) }}</div>
                            </div>
                            {{ form_row(edit_form.email) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            {{ form_row(edit_form.username) }}
                            {{ form_row(edit_form.plainPassword) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            {{ form_widget(edit_form.telefono) }}
                        </div>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Guardar cambios del usuario" />
        {{ form_end(edit_form) }}
    </div>
    <div class="col-sm-2">
        <a class="btn btn-default button-line btn-block" href="{{ path('usuarios_index') }}">Ver Todos</a>
        <hr>
        {{ form_start(delete_form) }}<input class="btn btn-block btn-danger" type="submit" value="Eliminar">{{ form_end(delete_form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/formTelefono.js') }}"></script>
{% endblock %}