{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-sm-12">
		<h1>Usuario | <span class="text-info">{{ usuario.primerNombre }} {{ usuario.primerApellido }}</span></h1>
		<hr>
	</div>
	<div class="col-sm-9">
		<table class="table borderless table-hover">
	        <tbody>
	            <tr><th class="col-sm-3">Nombres</th><td>{{ usuario.primerNombre }} {{ usuario.segundoNombre }}</td></tr>
				<tr><th>Apellidos</th><td>{{ usuario.primerApellido }} {{ usuario.segundoApellido }}</td></tr>
				<tr><th>Cédula</th><td>{{ usuario.cedula }}</td></tr>
				<tr><th>Fecha de Nacimiento</th><td>{{ usuario.fechaNacimiento() }}</td></tr>
				<tr><th>Correo</th><td>{{ usuario.email }}</td></tr>
				<tr><th>Usuario</th><td>{{ usuario.username }}</td></tr>
				<tr><th>Activo<br><small>Indica su estado en el sistema</small></th><td>{% if usuario.enabled %}<span class="text-success negritas">Se encuentra activo</span>{% else %}<span class="text-danger negritas">Está inactivo</span><br><small>No puede ingresar al sistema.</small>{% endif %}</td></tr>
				<tr><th>Teléfonos</th><td>
					{% if usuario.telefono|length == 0 %}No tiene ningun número de teléfono{% endif %}
					{% for telf in usuario.telefono %}{{ telf.codigo }} - {{ telf.numero }}<br>{% endfor %}
					</td></tr>
				<tr><th>Rol en el Sistema <br> <small class="text-info">Posee los siguientes roles en el sistema</small></th><td>{% for role in usuario.roles %}{% if role == 'ROLE_ADMIN' %}<span class="label label-success"><i class="fa fa-star fa-fw"></i> ADMINISTRADOR</span>{% endif %} {% if role == 'ROLE_USER' %}<span class="label label-info"><i class="fa fa-user fa-fw"></i> EMPADRONADOR</span>{% endif %}{% endfor %}</td></tr>
				<tr><th></th><td>{% if usuario.expired %}Cuenta vencida{% else %} <i class="fa fa-calendar-check-o"></i> No ha vencido su cuenta{% endif %}</td></tr>
				<tr><th>Estatus de la Cuenta</th><td>{% if usuario.locked %}Está bloqueado{% else %} <i class="fa fa-unlock-alt"></i> No está bloqueado{% endif %}</td></tr>
	        </tbody>
	    </table>
	</div>
	<div class="col-sm-3">
		<a class="btn btn-default btn-primary btn-block" href="{{ path('usuarios_index') }}">Ver Todos</a>
        <a class="btn btn-default btn-primary btn-block" href="{{ path('usuarios_edit', { 'id': usuario.id }) }}"> <i class="fa fa-edit"></i> Modificar Datos</a>
        <hr class="little">
		{{ form_start(delete_form, { 'attr' : { 'id' : 'formulario_eliminar' }}) }}<a class="btn btn-block btn-danger" id="formulario_eliminar"><i class="fa fa-trash"></i> Deshabilitar Usuario</a>{{ form_end(delete_form) }}
	</div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $(document).on('click', 'a#formulario_eliminar', function(){
                $.confirm({
                    theme: 'black',
                    title: '¿Seguro?',
                    content: 'Se continua se colocará al usuario, {{ usuario.primerNombre }} {{ usuario.primerApellido }}, como inhabilitado, lo cual no permitirá su ingreso al sistema',
                    confirmButton: 'Continuar',
                    cancelButton: 'Cancelar',
                    confirmButtonClass: 'btn-info',
                    cancelButtonClass: 'btn-danger',
                    confirm: function(){
                        $('form#formulario_eliminar').submit();
                    },
                    cancel: function(){}
                });
            });
        });
    </script>
{% endblock %}