{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Usuario</h1>
		</div>
	</div>
	
	
	<div class="col-sm-10">
		<table class="table borderless table-hover">
	        <tbody>
	            <tr>
					<th class="col-sm-3">Nombres</th>
					<td>{{ usuario.primerNombre }} {{ usuario.segundoNombre }}<br></td>
				</tr>
				<tr>
					<th>Apellidos</th>
					<td>{{ usuario.primerApellido }} {{ usuario.segundoApellido }}</td>
				</tr>
				<tr>
					<th>Números De Telefono</th>
					<td>{% for telefono in usuario.telefono %}{{ telefono.codigo }}{{ telefono.numero }}<br>{% endfor %}</td>
				</tr>
				<tr>
					<th>Username</th>
					<td>{{ usuario.username }}<br></td>
				</tr>
				<tr>
					<th>Mail</th>
					<td>{{ usuario.email }}<br></td>
				</tr>
				<tr>
					<th>Activo</th>
					<td>{% if usuario.enabled %}Si{% else %}No{% endif %}</td>
				</tr>
				<tr>
					<th>Último Inicio De Sesión</th>
					<td>{{ usuario.lastLogin|date('Y-m-d') }}<br></td>
				</tr>
				<tr>
					<th></th>
					<td>{% if usuario.locked %}Está bloqueado{% else %}No está bloquedado{% endif %}</td>
				</tr>
				<tr>
					<th></th>
					<td>{% if usuario.expired %}Cuenta vencida{% else %}No ha vencido su cuenta{% endif %}</td>
				</tr>
				<tr>
					<th>Roles <br> <small>Posee los siguientes roles en el sistema</small></th>
					<td>{% for rol in usuario.roles %}{{ rol }}<br>{% endfor %}</td>
				</tr>
	        </tbody>
	    </table>
	</div>
	<div class="col-sm-2">
		<a class="btn btn-default button-line btn-block" href="{{ path('usuarios_index') }}">Ver Todos</a>
        <a class="btn btn-default button-line btn-block" href="{{ path('usuarios_edit', { 'id': usuario.id }) }}">Modificar Datos</a>
        <hr>
		{{ form_start(delete_form) }}<input class="btn btn-block btn-danger" type="submit" value="Eliminar">{{ form_end(delete_form) }}
	</div>
</div>
{% endblock %}
