{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comunidad edit</h1>

    <span id="modalCuerpo">
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-sm-6">{{ form_row(edit_form.estado) }}</div>
            <div class="col-sm-6">{{ form_row(edit_form.municipio) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">{{ form_row(edit_form.parroquia) }}</div>
            <div class="col-sm-6">{{ form_row(edit_form.sector) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-6">{{ form_row(edit_form.comunidad) }}</div>
            <div class="col-sm-6">{{ form_row(edit_form.direccion) }}</div>
        </div>
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary btn-block" type="submit" value="Guardar" />
    {{ form_end(edit_form) }}
    </span>
    
    <a class="btn btn-default" href="{{ path('comunidades_index') }}">Back to the list</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
