{% extends 'base.html.twig' %}
{% block body %}
    <h2 class="text-center">Modificar Datos del Jefe Grupo Familiar</h2>
    <hr>
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(edit_form.nombres) }}</div>
                            <div class="col-sm-6">{{ form_row(edit_form.apellidos) }}</div>
                        </div>
                        {{ form_row(edit_form.sexo) }}
                        {{ form_row(edit_form.fechaNacimiento) }}
                        {{ form_row(edit_form.edad) }}
                        {{ form_row(edit_form.cne) }}
                        {{ form_row(edit_form.email) }}
                        <div class="row">
                            <div class="col-sm-5">{{ form_row(edit_form.trabajaActualmente) }}</div>
                            <div class="col-sm-7">{{ form_row(edit_form.profesion) }}</div>
                        </div>
                        {{ form_row(edit_form.pensionado) }}
                        {{ form_row(edit_form.pensionadoInstitucion) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5">{{ form_row(edit_form.cedula) }}</div>
                            <div class="col-sm-7">{{ form_row(edit_form.nacionalidad) }}</div>
                        </div>
                        {{ form_row(edit_form.estadoCivil) }}
                        <div class="row">
                            <div class="col-sm-5">{{ form_row(edit_form.incapacitado) }}</div>
                            <div class="col-sm-7">{{ form_row(edit_form.incapacitadoTipo) }}</div>
                        </div>
                        {{ form_row(edit_form.tiempoEnComunidad) }}
                        {{ form_row(edit_form.nivelInstruccion) }}
                        {{ form_row(edit_form.ingresoFamiliar) }}
                        {{ form_row(edit_form.ingresoMensual) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ form_row(edit_form.telefono) }}
                    </div>
                </div>  
            </div>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Guardar Cambios del Jefe del Grupo Familiar y Regresar a la Planilla" />
        
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/formTelefono.js') }}"></script>
    <script src="{{ asset('js/funcionesExtras.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#jefe_grupo_familiar_edad").parent().addClass('hidden');
            $('.ui.dropdown').dropdown();
            $('.js-datepicker')
                .datepicker({ format: 'yyyy-mm-dd' })
                    .on('hide', function() {
                        var birthDay = document.getElementById("jefe_grupo_familiar_fechaNacimiento").value;
                        var DOB = new Date(birthDay);
                        var today = new Date();
                        var age = today.getTime() - DOB.getTime();
                        age = Math.floor(age / (1000 * 60 * 60 * 24 * 365.25));

                        document.getElementById('jefe_grupo_familiar_edad').value = age;
                    });
            AexcluyeB('jefe_grupo_familiar_incapacitado', 'jefe_grupo_familiar_incapacitadoTipo');
            AexcluyeB('jefe_grupo_familiar_pensionado', 'jefe_grupo_familiar_pensionadoInstitucion');
        })
    </script>
{% endblock %}