<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ base_dir }}{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ base_dir }}{{ asset('css/estilos.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ base_dir }}{{ asset('css/font-awesome.css') }}">
</head>
<body>
    <h2>Estadísticas Jefes de Grupos Familiares</h2>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Nacionalidad</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Nacionalidad</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for n in stat_nacionalidad %}
                        <tr>
                            <td>{{n.nacionalidad}}</td>
                            <td>{{n.cantidad}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Sexo</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Sexo</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sx in stat_sexo %}
                        <tr>
                            <td>{{sx.sexo}}</td>
                            <td>{{sx.cantidad}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Inscrito en el CNE</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Resp</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cne in stat_cne %}
                        <tr>
                            <td>{{cne.resp}}</td>
                            <td>{{cne.cantidad}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Edo. Civil</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Estado Civil</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for edo in stat_edo_civil %}
                        <tr>
                            <td>{{edo.edo_civil}}</td>
                            <td>{{edo.cantidad}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {# dlfjkhslkdhflkshdlfkjhslkdjfhslkjdfhlskjdfh #}
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Niveles de Instrucción</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Nivel</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nivel in stat_instruccion %}<tr>
                            <td>{{ nivel.instruccion }}</td>
                            <td>{{ nivel.cantidad }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Profesiones</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Profesiones</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pr in stat_profesiones %}<tr>
                            <td>{{pr.profesiones}}</td>
                            <td>{{pr.cantidad}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Empleado</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>¿Se encuentra Empleado?</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in stat_empleado %}<tr>
                            <td>{{emp.resp}}</td>
                            <td>{{emp.cantidad}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Incapacidades</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Incapacidad</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inc in stat_incapacidades %}<tr>
                            <td>{{inc.incapacidades}}</td>
                            <td>{{inc.cantidad}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Pensionados</div>
                <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="300">
                    <thead>
                        <tr>
                            <th>Pensionados</th>
                            <th>Cant.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ins in stat_pensionados %}<tr>
                            <td>{{ins.pensionados}}</td>
                            <td>{{ins.cantidad}}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{{ base_dir }}{{ asset('js/highchart.js') }}"></script>
    <script src="{{ base_dir }}{{ asset('js/highchart/highcharts.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('table.highchart').highchartTable();
        });
    </script>
</body>