{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6"><h1 class="text-center">Detalles de Jefe Grupo Familiar <small>{{ jefeGrupoFamiliar.nombre|title }} {{ jefeGrupoFamiliar.apellido|title }}</small></h1></div>
        <div class="col-sm-6">
            <p class="marginless negritas">Planilla # {{ jefeGrupoFamiliar.planilla.id }}</p>
            <p class="marginless"><span class="negritas">Empadronado por:</span> {{ jefeGrupoFamiliar.planilla.empadronador.nombreyapellido() }}</p>
            <p class="marginless"><span class="negritas">Fecha:</span> {{ jefeGrupoFamiliar.planilla.fecha }}</p>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-sm-9">
            <table class="table borderless table-hover">
                <tbody>
                    <tr>
                        <th>Nombres</th>
                        <td>{{ jefeGrupoFamiliar.nombres }}</td>
                    </tr>
                    <tr>
                        <th>Apellidos</th>
                        <td>{{ jefeGrupoFamiliar.apellidos }}</td>
                    </tr>
                    <tr>
                        <th>Cédula</th>
                        <td>{{ jefeGrupoFamiliar.cedula }}</td>
                    </tr>
                    <tr>
                        <th>Nacionalidad</th>
                        <td>{{ jefeGrupoFamiliar.nacionalidad }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento</th>
                        <td>{% if jefeGrupoFamiliar.fechaNacimiento %}{{ jefeGrupoFamiliar.fechaNacimiento }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Edad</th>
                        <td>{{ jefeGrupoFamiliar.edad }} años de edad</td>
                    </tr>
                    <tr>
                        <th>¿está ud inscrito en el CNE?</th>
                        <td>{{ jefeGrupoFamiliar.cne }}</td>
                    </tr>
                    <tr>
                        <th>Tiempo en la Comunidad</th>
                        <td>{{ jefeGrupoFamiliar.tiempoEnComunidad }} años</td>
                    </tr>
                    <tr>
                        <th>Sexo</th>
                        <td>{{ jefeGrupoFamiliar.sexo }}</td>
                    </tr>
                    <tr>
                        <th>Estado Civil</th>
                        <td>{{ jefeGrupoFamiliar.estadoCivil }}</td>
                    </tr>
                    <tr>
                        <th>Nivel Instruccion</th>
                        <td>{{ jefeGrupoFamiliar.nivelInstruccion }}</td>
                    </tr>
                    <tr>
                        <th>Profesión</th>
                        <td>{{ jefeGrupoFamiliar.profesion }}</td>
                    </tr>
                    <tr>
                        <th>¿Trabaja Actualmente?</th>
                        <td>{{ jefeGrupoFamiliar.trabajaActualmente }}</td>
                    </tr>
                    <tr>
                        <th>Teléfono(s)</th>
                        <td>{% for tlf in jefeGrupoFamiliar.telefono %} <i class="fa fa-phone"></i> ({{tlf.codigo}}) - {{ tlf.numero }}<br>{% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Dirección de Correo Electronico</th>
                        {% if jefeGrupoFamiliar.email == '' %}
                            <td>No especificó alguna.</td>
                        {% else %}
                            <td>{{ jefeGrupoFamiliar.email }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Ingreso Familiar</th>
                        <td>{{ jefeGrupoFamiliar.ingresoFamiliar }}</td>
                    </tr>
                    <tr>
                        <th>Ingreso Mensual</th>
                        <td>{{ jefeGrupoFamiliar.ingresoMensual }} Bs</td>
                    </tr>
                    <tr>
                        <th>¿Es Discapacitado?</th>
                        <td>{{ jefeGrupoFamiliar.incapacitado|title }}</td>
                    </tr>
                    {% if jefeGrupoFamiliar.incapacitado != 'no' %}<tr>
                        <th>El tipo de Discapacidad especificado fue:</th>
                        <td>{{ jefeGrupoFamiliar.incapacitadoTipo }}</td>
                    </tr>{% endif %}
                    <tr>
                        <th>¿Es Pensionado?</th>
                        <td>{{ jefeGrupoFamiliar.pensionado|title }}</td>
                    </tr>
                    {% if jefeGrupoFamiliar.pensionado != 'no' %}<tr>
                        <th>La institución es: </th>
                        <td>{{ jefeGrupoFamiliar.pensionadoInstitucion }}</td>
                    </tr>{% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-block btn-primary" href="{{ path('jefegrupofamiliar_edit', { 'id': jefeGrupoFamiliar.id }) }}"><i class="fa fa-edit"></i> Modificar Datos de {{ jefeGrupoFamiliar.nombres|title }}</a>
            <a href="{{ path('planillas_show', { 'id': jefeGrupoFamiliar.planilla.id }) }}" class="btn btn-block btn-primary"><i class="fa fa-file-text"></i> Ver Planilla Censo</a>
            <hr class="little">
            {{ form_start(delete_form) }}
                <button class="btn-block btn btn-danger" type="submit"><i class="fa fa-trash"></i> Eliminar a {{ jefeGrupoFamiliar.nombreyapellido|title }}</button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
