{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminTipoPadecencia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adminTipoPadecencium in adminTipoPadecencias %}
            <tr>
                <td><a href="{{ path('configurable_tipo_padecencia_show', { 'id': adminTipoPadecencium.id }) }}">{{ adminTipoPadecencium.id }}</a></td>
                <td>{{ adminTipoPadecencium.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configurable_tipo_padecencia_show', { 'id': adminTipoPadecencium.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configurable_tipo_padecencia_edit', { 'id': adminTipoPadecencium.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurable_tipo_padecencia_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
