{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vocero list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Votoselecto</th>
                <th>Persona</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vocero in voceros %}
            <tr>
                <td><a href="{{ path('vocero_show', { 'id': vocero.id }) }}">{{ vocero.id }}</a></td>
                <td>{{ vocero.tipo }}</td>
                <td>{{ vocero.votosElecto }}</td>
                <td>{{ vocero.persona }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('vocero_show', { 'id': vocero.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('vocero_edit', { 'id': vocero.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vocero_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
