{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminPreguntas</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adminPregunta.id }}</td>
            </tr>
            <tr>
                <th>Pregunta</th>
                <td>{{ adminPregunta.pregunta }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurables_preguntas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('configurables_preguntas_edit', { 'id': adminPregunta.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
