{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminProfesion list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adminProfesion in adminProfesions %}
            <tr>
                <td><a href="{{ path('configurable_profesiones_show', { 'id': adminProfesion.id }) }}">{{ adminProfesion.id }}</a></td>
                <td>{{ adminProfesion.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configurable_profesiones_show', { 'id': adminProfesion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configurable_profesiones_edit', { 'id': adminProfesion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurable_profesiones_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
