{% embed 'graficos.html.twig' %}
    {% block body %}
        <h2>Estadísticas de las Personas Comunidad</h2>
        <hr>

        <div class="row">
            <div class="col-lg-8">
                <div class="well well-sm">
                    <p>Esta información es referente a {{ total }} personas, de distintos Grupo Familiares. No incluye a los Jefes de Grupo Familiar.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <a class="btn btn-lg btn-primary btn-block pull-rigth" href="#"><i class="fa fa-file-o"></i> Obtener como PDF</a>
                <hr class="little"></hr>
            </div>
        </div>
        <div class="row grid">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Sexo</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Sexo</th>
                                <th>Cant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sx in stat_sexo %}
                            <tr>
                                <td>{{sx.sexo}}</td>
                                <td>{{sx.cantidad}}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Inscrito en el CNE</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Resp</th>
                                <th>Cant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cne in stat_cne %}
                            <tr>
                                <td>{{cne.resp}}</td>
                                <td>{{cne.cantidad}}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Edades</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Cant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in stat_edad %}
                            <tr>
                                <td>{{ a.a }}</td>
                                <td>{{ a.cantidad }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>            

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Niveles de Instrucción</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Nivel</th>
                                <th>Cant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for nivel in stat_instruccion %}<tr>
                                <td>{{ nivel.instruccion }}</td>
                                <td>{{ nivel.cantidad }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Pensionados</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Pensionados</th>
                                <th>Cant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ins in stat_pensionados %}<tr>
                                <td>{{ins.pensionados }}</td>
                                <td>{{ins.cantidad }}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Discapacidades</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Discapacidad</th>
                                <th>Cant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inc in stat_incapacidades %}<tr>
                                <td>{{inc.incapacidades}}</td>
                                <td>{{inc.cantidad}}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Embarazo Temprano</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Resp</th>
                                <th>Cant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for en in stat_embarazo %}<tr>
                                <td>{{en.resp}}</td>
                                <td>{{en.cantidad}}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4 class="panel-title">Profesiones</h4></div>
                    <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="380">
                        <thead>
                            <tr>
                                <th>Profesiones</th>
                                <th>Cant.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pr in stat_profesiones %}<tr>
                                <td>{{pr.profesiones}}</td>
                                <td>{{pr.cantidad}}</td>
                            </tr>{% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
