{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6"><small class="text-info">ant. Datos Grupo Familiar</small></div>
        <div class="col-xs-6 text-right"><small class="text-info">sig. Situación Económica</small></div>
    </div>
    <div class="progress">
      <div class="progress-bar active progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
        Paso 3 de 9
      </div>
    </div>

    <h1>Miembro Grupo Familiar <small>Actualmente hay {{ cantMiembros }} miembros</small></h1>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.nombre) }}</div>
                            <div class="col-sm-6">{{ form_row(form.apellido) }}</div>
                        </div>
                        {{ form_row(form.parentesco) }}
                        {{ form_row(form.gradoInstruccion) }}
                        {{ form_row(form.profesion) }}
                        {{ form_row(form.cne) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ form_row(form.cedula) }}
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.fechaNacimiento) }}</div>
                            <div class="col-sm-6">{{ form_row(form.email) }}</div>
                        </div>
                        {{ form_row(form.edad) }}
                        {{ form_row(form.sexo) }}
                        {{ form_row(form.embarazoTemprano) }}
                        {{ form_row(form.incapacitado) }}
                        {{ form_row(form.incapacitadoTipo) }}
                        {{ form_row(form.pensionado) }}
                        {{ form_row(form.pensionadoInstitucion) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6"><input class="btn btn-primary btn-block" form="persona" type="submit" value="Agregar Miembro al Grupo Familiar" /></div>
            <div class="col-sm-6"><a class="btn-block btn btn-success" href="{{ path('situacioneconomica_new', {'id_planilla':id_planilla}) }}">No hay más miembros, Continuar</a></div>
        </div>
    {{ form_end(form) }}
    
    <input id="addAjax" type="hidden" data-url="{{ path('new_element_ajax') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/funcionesExtras.js') }}"></script>
    <script>
        $(document).ready(function() {
            $("#persona_edad").parent().addClass('hidden');
            $('.ui.dropdown').dropdown();
            $('.additions').dropdown({
                allowAdditions: true,
                onChange: function(addedValue, addedText, $addedChoice) {
                    console.log('Feets');
                    $('[name=persona]').submit(function(e){ e.preventDefault(); }); //nombre del form
                    $.ajax({
                        url: $('#addAjax').data('url'),
                        type: "POST",
                        data: {
                            'nombre': addedText,
                            'tipo'  : 'jgf_profesion', //caso del switch en el controlador
                        },
                        success: function(data, textStatus, xhr){
                            if (data != null) {
                                option = $('#persona_profesion').children('[value="'+data.nombre+'"]');
                                option.val(data.id);
                                $(option).attr('selected','selected');

                                $.alert({
                                    theme: 'black',
                                    title: 'Exito!',
                                    content: data.respuesta,
                                });
                            }
                        },
                        error: function(data){
                            $.alert({
                                theme: 'black',
                                title: 'Error!',
                                content: "No se ha podido agregar el valor al sistema, debido a un error desconocido. Intente otra vez.",
                            });
                        },
                        complete: function(){
                            $('[name=persona]').unbind('submit'); //nombre del form
                        },
                    });
                },
            });
            $('.js-datepicker')
                .datepicker({ format: 'yyyy-mm-dd' })
                    .on('hide', function() {
                        var birthDay = document.getElementById("persona_fechaNacimiento").value;
                        var DOB = new Date(birthDay);
                        var today = new Date();
                        var age = today.getTime() - DOB.getTime();
                        age = Math.floor(age / (1000 * 60 * 60 * 24 * 365.25));

                        document.getElementById('persona_edad').value = age;
                    });
            AexcluyeB('persona_incapacitado', 'persona_incapacitadoTipo');
            AexcluyeB('persona_pensionado', 'persona_pensionadoInstitucion');

            if ($('#persona_sexo').val() == 'Masculino' || $('#persona_sexo').val() == '') {
                $('#persona_embarazoTemprano').attr('disabled', true);
                $('#persona_embarazoTemprano').parent().addClass('hidden');
            }

            $('#persona_sexo').on('change', function(){
                switch( $(this).val() ){
                    case 'Femenino':
                        $('#persona_embarazoTemprano').removeAttr('disabled');
                        $('#persona_embarazoTemprano').parent().removeClass('hidden');
                    break;
                    case 'Masculino':
                        $('#persona_embarazoTemprano').attr('disabled', true);
                        $('#persona_embarazoTemprano').val('');
                        $('#persona_embarazoTemprano').parent().addClass('hidden');
                    break;
                    default:
                        $('#persona_embarazoTemprano').attr('disabled', true);
                        $('#persona_embarazoTemprano').parent().addClass('hidden');
                    break;
                }
            })
            
        });
    </script>
{% endblock %}
