{% extends 'base.html.twig' %}

{% block body %}
    <h1>Persona</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ persona.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ persona.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ persona.apellido }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ persona.sexo }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ persona.cedula }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if persona.fechaNacimiento %}{{ persona.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ persona.edad }}</td>
            </tr>
            <tr>
                <th>Parentezco</th>
                <td>{{ persona.parentezco }}</td>
            </tr>
            <tr>
                <th>Gradoinstruccion</th>
                <td>{{ persona.gradoInstruccion }}</td>
            </tr>
            <tr>
                <th>Profesion</th>
                <td>{{ persona.profesion }}</td>
            </tr>
            <tr>
                <th>Cne</th>
                <td>{{ persona.cne }}</td>
            </tr>
            <tr>
                <th>Embarazotemprano</th>
                <td>{{ persona.embarazoTemprano }}</td>
            </tr>
            <tr>
                <th>Incapacitado</th>
                <td>{{ persona.incapacitado }}</td>
            </tr>
            <tr>
                <th>Incapacitadotipo</th>
                <td>{{ persona.incapacitadoTipo }}</td>
            </tr>
            <tr>
                <th>Pensionado</th>
                <td>{{ persona.pensionado }}</td>
            </tr>
            <tr>
                <th>Pensionadoinstitucion</th>
                <td>{{ persona.pensionadoInstitucion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personas_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personas_edit', { 'id': persona.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
