{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>
		.p-header {
			padding: 3px;
    		background-color: beige;
		}
	</style>
{% endblock %}

{% block body %}
	<h2 class="text-center">Administración</h2>
	<hr>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Datos del Consejo Comunal</div>
				<div class="panel-body">
					{% if consejo|length > 0 %}
						<div class="row">
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Nombre</p>
								<p class="text-right">{{ consejo.nombre }}</p>
							</div>
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Código</p>
								<p class="text-right">{{ consejo.codigo }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">RIF</p>
								<p class="text-right">{{ consejo.rif }}</p>
							</div>
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Número Cuenta</p>
								<p class="text-right">{{ consejo.numeroCuenta }}</p>
							</div>
						</div>
						{% if '1' in app.user.roles|keys %}
						<a id="btn-edit" href="#" data-action="{{ path('consejocomunal_edit', {'id': consejo.id }) }}" data-title="Modificar Datos del Consejo Comunal" class="btn btn-info pull-right"> <i class="fa fa-edit"></i> Modificar Datos del Consejo Comunal</a>
						{% endif %}
					{% else %}
						<a id="btn-edit" href="#" data-action="{{ path('consejocomunal_new') }}" data-title="Datos Consejo Comunal" class="btn btn-primary btn-block">Agregue los Datos del Consejo Comunal</a>
					{% endif %}
				</div>
			</div>
			<p>Consulte las actualizaciones en el sistema accediendo a la <a class="negritas" href="{{ path('bitacora_index') }}"><i class="fa fa-compass"></i> Bitácora</a></p>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Datos de la Comunidad</div>
				<div class="panel-body">
					{% if comunidad|length > 0 %}
						<div class="row">
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Estado</p>
								<p class="text-right">{{ comunidad.estado }}</p>
							</div>
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Municipio</p>
								<p class="text-right">{{ comunidad.municipio }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Parroquía</p>
								<p class="text-right">{{ comunidad.parroquia }}</p>
							</div>
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Sector</p>
								<p class="text-right">{{ comunidad.sector }}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Comunidad</p>
								<p class="text-right">{{ comunidad.comunidad }}</p>
							</div>
							<div class="col-sm-6">
								<p class="bottom-line negritas text-info">Dirección</p>
								<p class="text-right">{{ comunidad.direccion }}</p>
							</div>
						</div>
						{% if '1' in app.user.roles|keys %}<a id="btn-edit" href="#" data-action="{{ path('comunidades_edit', {'id': comunidad.id }) }}" data-title="Modificar Datos de la Comunidad" class="btn btn-info pull-right"> <i class="fa fa-edit"></i> Modificar Datos de la Comunidad</a>{% endif %}
					{% else %}
						<a id="btn-edit" href="#" data-action="{{ path('comunidades_new') }}" data-title="Datos de la Comunidad" class="btn btn-primary btn-block">Agregue los Datos de la Comunidad</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<h2 class="text-center">Unidades y Comités</h2>
	<hr>
	<div class="row">
		{% for unidad in unidades_restantes %}<div class="col-sm-4">
			<div class="panel panel-primary">
				<div class="panel-heading">{{ unidad.tipoUnidad }}</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							{% if unidad.voceros|length == 0 %}
								<p class="text-center negritas">No hay voceros asignados</p>
							{% endif %}
							{% for vocero in unidad.voceros %}
								
								<p class="text-left">{{ vocero.vocero.nombreyapellido() }}<br>
									<span class="negritas">{{ vocero.tipo }}</span><br>
									{% if unidad.tipoUnidad == "Comisión Electoral Permanente" %}{{ vocero.votos }} votos {% endif %}
								</p>
							{% endfor %}
						</div>
						
					</div>
				</div>
			</div>
		</div>{% endfor %}
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Comité Ejecutivo</div>
				<div class="panel-body">
					<div class="row">
						{% for unidad in unidades_eje %}
						<div class="col-sm-4">
							<p class="bottom-line negritas text-info p-header">{{ unidad.nombre }}</p>
							{% if unidad.voceros|length == 0 %}
								<p class="text-center negritas">No hay voceros asignados</p>
							{% endif %}
							{% for vocero in unidad.voceros %}
								<p class="text-left">{{ vocero.vocero.nombreyapellido() }}<br>
									<span class="negritas">{{ vocero.tipo }}</span>
								</p>
							{% endfor %}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalCC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalTitle">Modal title</h4>
				</div>
				<div class="modal-body">
					<span id="modalCuerpo">
						<div class="well-sm text-center"><img src="{{ asset('images/FlatIcons/hourglass.png') }}" height='60' alt="espere">
						<hr>
						<br>Cargando el formulario</div>
					</span>
				</div>
				{# <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div> #}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	jQuery(document).ready(function() {
		// Para los editar
		$('body').on('click', '#btn-edit', function() {
			url = $(this).data('action');
			title = $(this).data('title');

			$('#modalCC').modal('show');
			$('#modalTitle').text(title);

			$.ajax({
				url: url,
				type: "GET",
				success: function(data, textStatus, xhr){
					$('#modalCuerpo').replaceWith($(data).find('#modalCuerpo'));
					$('#modalCuerpo').children().attr('action', url)
				},
			});
		});

		$('#modalCC').on('hide.bs.modal', function(e){
            $.confirm({
                title: 'Advertencia!',
                content: 'Perderá lo que ha escrito si continua, ¿Desea continuar?',
                onButton: 'Cerrar',
                cancelButton: 'Continuar escribiendo',
                confirmButtonClass: 'btn-danger',
                cancelButtonClass: 'btn-info',
                theme: 'black',
                confirm: function(){
                    $('#modalCuerpo').children().replaceWith("<div class='well-sm text-center'><img src='{{ asset('images/FlatIcons/hourglass.png') }}' height='60' alt='espere'><br />Cargando el formulario</div>")
                },
                cancel: function(){
                    e.preventDefault();
                    $('#modalCC').modal('show');
                }
            });
        });

	});
</script>
{% endblock %}