{% extends 'base.html.twig' %}

{% block body %}
	<h2>Administración</h2>
	<hr>
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-body">
				<h3>Consejo Comunal</h3>
				{% if consejo|length > 0 %}
				{% for cc in consejo %}
				<p class="bottom-line negritas text-info">Nombre</p>
				<p>{{ cc.nombre }}</p>
				<p class="bottom-line negritas text-info">Código</p>
				<p>{{ cc.codigo }}</p>
				<p class="bottom-line negritas text-info">RIF</p>
				<p>{{ cc.rif }}</p>
				<p class="bottom-line negritas text-info">Número Cuenta</p>
				<p>{{ cc.numeroCuenta }}</p>

				<a id="btn-edit" href="#" data-action="{{ path('consejocomunal_edit', {'id': cc.id }) }}" data-title="Modificar Datos del Consejo Comunal" class="btn btn-default btn-sm pull-right">Modificar Datos del Consejo Comunal</a>
				{% endfor %}
				{% else %}
					<a id="btn-edit" href="#" data-action="{{ path('consejocomunal_new') }}" data-title="Datos Consejo Comunal" class="btn btn-primary btn-block">Agregue los Datos del Consejo Comunal</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel panel-primary">
			<div class="panel-body">
				<h3>Comunidad</h3>
				{% if comunidad|length > 0 %}
				{% for com in comunidad %}
				<p class="bottom-line negritas text-info">Estado</p>
				<p>{{ com.estado }}</p>
				<p class="bottom-line negritas text-info">Municipio</p>
				<p>{{ com.municipio }}</p>
				<p class="bottom-line negritas text-info">Parroquia</p>
				<p>{{ com.parroquia }}</p>
				<p class="bottom-line negritas text-info">Sector</p>
				<p>{{ com.sector }}</p>
				<p class="bottom-line negritas text-info">Comunidad</p>
				<p>{{ com.comunidad }}</p>
				<p class="bottom-line negritas text-info">Direccion</p>
				<p>{{ com.direccion }}</p>

				<a id="btn-edit" href="#" data-action="{{ path('comunidades_edit', {'id': com.id }) }}" data-title="Modificar Datos de la Comunidad" class="btn btn-default btn-sm pull-right">Modificar Datos de la Comunidad</a>
				{% endfor %}
				{% else %}
					<a id="btn-edit" href="#" data-action="{{ path('comunidades_new') }}" data-title="Datos de la Comunidad" class="btn btn-primary btn-block">Agregue los Datos de la Comunidad</a>
				{% endif %}
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalCC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modalTitle">Modal title</h4>
				</div>
				<div class="modal-body">
					<span id="modalCuerpo">
						<div class="well-sm text-center"><img src="{{ asset('images/FlatIcons/hourglass.png') }}" height='60' alt="espere"><br>Cargando el formulario</div>
					</span>
				</div>
				{# <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div> #}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	jQuery(document).ready(function() {
		// Para los editar
		$('body').on('click', '#btn-edit', function() {
			url = $(this).data('action');
			title = $(this).data('title');

			$('#modalCC').modal('show');
			$('#modalTitle').text(title);

			$.ajax({
				url: url,
				type: "GET",
				success: function(data, textStatus, xhr){
					$('#modalCuerpo').replaceWith($(data).find('#modalCuerpo'));
					$('#modalCuerpo').children().attr('action', url)
				},
			});
		});

		$('#modalCC').on('hidden.bs.modal', function (e) {
			$('#modalCuerpo').children().replaceWith("<div class='well-sm text-center'><img src='{{ asset('images/FlatIcons/hourglass.png') }}' height='60' alt='espere'><br />Cargando el formulario</div>")
		});
	});
</script>
{% endblock %}