{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/sidebar-parametros.css') }}">
	<style type="text/css">
        .loader {
            display:    none;
            position:   fixed;
            z-index:    1090;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 0, 0, 0, .3 ) 
            url("{{ asset('images/ball.svg') }}") 50% 50% no-repeat;
        }
        body.loading { overflow: hidden; }
        body.loading .loader { display: block; }
        .badge{ cursor: pointer; }
        .badge:hover{ color: black; background-color: #4C9ED9; }
    </style>
{% endblock %}
{% block body %}
	<input type="hidden" id="parametro" value="{{ app.request.get('index') }}">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-sm-4">
			<div class="nav-side-menu">
			    <div class="brand">Parámetros</div>
			    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
			  
			        <div class="menu-list">
			  
			            <ul id="menu-content" class="menu-content collapse out">
			                <li id="li-menu" data-toggle="collapse" data-target="#uno" class="collapsed">
			                  <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Datos Jefe Grupo Familiar</a>
			                </li>
			                <ul class="sub-menu collapse" id="uno">
			                    <li><a id="btnTabla" class="nacionalidad" data-url="{{ path('admin_nacionalidad_index') }}">Nacionalidad</a></li>
								<li><a id="btnTabla" class="respcerrada" data-url="{{ path('configurable_respuesta_cerrada_index') }}">Respuestas Cerradas</a></li>
								<li><a id="btnTabla" class="incapacidades" data-url="{{ path('configurable_incapacidades_index') }}">Discapacidades</a></li>
								<li><a id="btnTabla" class="pensionadoinstitucion" data-url="{{ path('configurable_pensionados_instituciones_index') }}">Pensionados Instituciones</a></li>
								<li><a id="btnTabla" class="estadocivil" data-url="{{ path('configurable_estado_civil_index') }}">Estado Civil</a></li>
								<li><a id="btnTabla" class="nivelinstruccion" data-url="{{ path('configurable_nivel_instruccion_index') }}">Niveles de Instrucción</a></li>
								<li><a id="btnTabla" class="profesiones" data-url="{{ path('configurable_profesiones_index') }}">Profesiones</a></li>
								<li><a id="btnTabla" class="ingresofamiliar" data-url="{{ path('configurable_clasificacion_ingreso_familiar_index') }}">Ingreso Familiar</a></li>
			                </ul>

			                <li id="li-menu" data-toggle="collapse" data-target="#dos" class="collapsed">
			                  <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Situación Económica</a>
			                </li>
			                <ul class="sub-menu collapse" id="dos">
			                    <li><a id="btnTabla" class="ubicaciontrabajo" href="#" data-url="{{ path('configurable_ubicacion-trabajo_index') }}">Ubicaciones Trabajo</a></li>
								<li><a id="btnTabla" class="ventavivienda" href="#" data-url="{{ path('configurable_venta_vivenda_index') }}">Articulos Venta Vienda</a></li>
								<li><a id="btnTabla" class="tipoingresos" href="#" data-url="{{ path('configurable_tipos_ingresos_index') }}">Cantidades Tipos de Ingreso</a></li>
			                </ul>

			                <li id="li-menu" data-toggle="collapse" data-target="#tres" class="collapsed">
			                  <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Situación Vivienda</a>
			                </li>
			                <ul class="sub-menu collapse" id="tres">
			                    <li><a id="btnTabla" class="tipocondicionterreno" href="#" data-url="{{ path('admintipocondicionterreno_index') }}">Tipo Condición Terreno</a></li>
			                    <li><a id="btnTabla" class="tipovivienda" href="#" data-url="{{ path('configurable_tipo_vivienda_index') }}">Tipos de Vivienda</a></li>
								<li><a id="btnTabla" class="tipotenencia" href="#" data-url="{{ path('configurable_tipo_tenencia_index') }}">Forma de Tenencia</a></li>
								<li><a id="btnTabla" class="tipohabitacionesvivienda" href="#" data-url="{{ path('configurable_tipo_habitaciones_index') }}">Tipos Habitaciones Vivienda</a></li>
								<li><a id="btnTabla" class="tipoparedes" href="#" data-url="{{ path('configurable_tipo_paredes_index') }}">Tipos Paredes</a></li>
								<li><a id="btnTabla" class="tipotecho" href="#" data-url="{{ path('configurable_tipo_techo_index') }}">Tipos Techos</a></li>
								<li><a id="btnTabla" class="tipoenseres" href="#" data-url="{{ path('configurable_tipo_enseres_index') }}">Tipos Enseres</a></li>
								<li><a id="btnTabla" class="salubridadvivienda" href="#" data-url="{{ path('configurable_tipo_salubridad_index') }}">Salubridad Vivienda</a></li>
								<li><a id="btnTabla" class="tipoplagas" href="#" data-url="{{ path('configurables_tipo_plagas_index') }}">Tipos Plagas</a></li>
								<li><a id="btnTabla" class="tipomascotas" href="#" data-url="{{ path('configurable_tipo_mascotas_index') }}">Tipos Mascotas</a></li>
			                </ul>

			                <li id="li-menu" data-toggle="collapse" data-target="#cuatro" class="collapsed">
			                  <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Situación Salud</a>
			                </li>
			                <ul class="sub-menu collapse" id="cuatro">
			                    <li><a id="btnTabla" href="#" data-url="{{ path('configurable_tipo_padecencia_index') }}">Tipos de Padecencias</a></li>
								<li><a id="btnTabla" href="#" class="ayudaespecial" data-url="{{ path('configurable_tipo_ayuda_especial_index') }}">Ayudas Especiales</a></li>
								<li><a id="btnTabla" href="#" class="situacionexclusion" data-url="{{ path('configurable_tipo_situacion_exclusion_index') }}">Situación de Exclusion</a></li>
			                </ul>

			                <li id="li-menu" data-toggle="collapse" data-target="#cinco" class="collapsed">
			                  <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Situación Servicios</a>
			                </li>
			                <ul class="sub-menu collapse" id="cinco">
			                    <li><a id="btnTabla" class="aguasblancas" href="#" data-url="{{ path('configurables_tipos_aguas_blancas_index') }}">Tipos de Aguas Blancas</a></li>
								<li><a id="btnTabla" class="aguasservidas" href="#" data-url="{{ path('configurables_tipos_aguas_servidas_index') }}">Tipos de Aguas Servidas</a></li>
								<li><a id="btnTabla" class="tipogas" href="#" data-url="{{ path('configurables_tipos_gas_index') }}">Tipos de Gas</a></li>
								<li><a id="btnTabla" class="empresagas" href="#" data-url="{{ path('adminempresagas_index') }}">Proveedor Gas</a></li>
								<li><a id="btnTabla" class="capacidadbombona" href="#" data-url="{{ path('admincapacidadbombona_index') }}">Capacidades Bombona</a></li>
								<li><a id="btnTabla" class="sistemaelectrico" href="#" data-url="{{ path('configurables_tipo_sistema_electrico_index') }}">Sistema Electrico</a></li>
								<li><a id="btnTabla" class="recoleccionbasura" href="#" data-url="{{ path('configurables_tipo_recoleccion_basura_index') }}">Recolección de Basura</a></li>
								<li><a id="btnTabla" class="tipotelefonia" href="#" data-url="{{ path('configurables_tipo_telefonia_index') }}">Telefonía</a></li>
								<li><a id="btnTabla" class="tipotransporte" href="#" data-url="{{ path('configurables_tipo_transporte_index') }}">Transporte</a></li>
								<li><a id="btnTabla" class="mecanismoinformacion" href="#" data-url="{{ path('configurables_tipo_mecanismo_informacion_index') }}">Mecanismo de Información</a></li>
								<li><a id="btnTabla" class="servicioscomunales" href="#" data-url="{{ path('configurables_tipos_servicios_comunales_index') }}">Servicios Comunales</a></li>
			                </ul>

			                <li id="li-menu" data-toggle="collapse" data-target="#seis" class="collapsed">
			                  <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Participación Comunitaria</a>
			                </li>
			                <ul class="sub-menu collapse" id="seis">
			                    <li><a id="btnTabla" class="organizacionescomunitarias" href="#" data-url="{{ path('configurables_tipos_organizaciones_comunitarias_index') }}">Organizaciones Comunitarias</a></li>
								<li><a id="btnTabla" class="misionescomunidad" href="#" data-url="{{ path('configurables_tipos_misiones_comunidad_index') }}">Misiones en la Comunidad</a></li>
								<li><a id="btnTabla" class="particiapcioncomunitaria" href="#" data-url="{{ path('configurables_preguntas_index') }}">Preguntas</a></li>
								<li><a id="btnTabla" class="areatrabajo" href="#" data-url="{{ path('configurables_tipos_areas_trabajo_index') }}">Areas de Trabajo CC</a></li>
			                </ul>

			                <li id="li-menu" data-toggle="collapse" data-target="#siete" class="collapsed">
			                  <a href="#"><i class="fa fa-arrow-right fa-fw"></i> Situación Comunidad</a>
			                </li>
			                <ul class="sub-menu collapse" id="siete">
			                    <li><a id="btnTabla" class="situacioncomunidad" href="#" data-url="{{ path('adminpreguntassitcom_index') }}">Preguntas</a></li>
			                </ul>

			            </ul>
			     </div>
			</div>
		</div>
		<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
			<h2>Parámetros del Sistema <small>modifique las opciones que aparecen en el formulario</small></h2>
			<hr>
			<span id="cuerpoGrupo1">Cargando Tabla...</span>
		</div>
	</div>

	<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
        	<div class="panel panel-primary">
        		<div class="panel-heading"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Elemento</h4></div>
        		<div class="panel-body">
        			<span id="modal-body" class="negritas text-center"><div class="well-sm text-center"><img src="{{ asset('images/FlatIcons/hourglass.png') }}" height='60' alt="espere">
						<hr>
						<br>Cargando el formulario</div></span>
        		</div>
        	</div>
        </div>
    </div>

    <div class="loader" id="loader"></div>
{% endblock %}

{% block javascripts %}
<script>
	jQuery(document).ready(function() {
		//Para el control de las tablas
		$('body').on('click', '#btnTabla', function() {
			$('#loader').show();
			url = $(this).data('url');
			$.ajax({
				url: url,
				type: "GET",
				success: function(data, textStatus, xhr){
					cuerpo = $(data).find('#cuerpo').attr('id', 'cuerpoGrupo1');
					$('#cuerpoGrupo1').replaceWith(cuerpo);
					$('#loader').hide();
				},
				complete: function(){
					$('body').find('#forModal').attr('data-toggle', 'modal');
					$('body').find('#forModal').attr('data-target', '#myModal');
					url = $('body').find('#forModal').attr('href');
					$('body').find('#forModal').attr('href', '#');
					$('body').find('#forModal').attr('data-url', url);
					$('#loader').hide();
				},
			});
		});

		$('body').on('click', '#forModal', function(){
			url = $('#forModal').data('url');
			$.ajax({
				url: url,
				type: "GET",
				success: function(data, textStatus, xhr){
					cuerpo = $(data).find('#cuerpo form').attr('id', 'modal-body');
					cuerpo = cuerpo.attr('action', url);
					$('#modal-body').replaceWith(cuerpo);
				},
				complete: function(){
					$('#myModal').modal('show');
				}
			});
		});

		$('#myModal').on('hide.bs.modal', function(e){
            $.confirm({
                title: 'Advertencia!',
                content: 'Si acepta, perderá los cambios que ha realizado.',
                cancelButton: 'No Cerrar',
                confirmButtonClass: 'btn-danger',
                cancelButtonClass: 'btn-info',
                theme: 'black',
                confirm: function(){
                    html = "<div class='panel-body'><span id='modal-body'><div class='well-sm text-center'><img src='{{ asset('images/FlatIcons/hourglass.png') }}' height='60' alt='espere'><hr><br>Cargando el formulario</div></span></div>";
					$('.panel-body').replaceWith(html);
                },
                cancel: function(){
                    e.preventDefault();
                    $('#myModal').modal('show');
                }
            });
        });

		str = $('#parametro').val();
		if (str != '') {
			$('.'+str).click();
			$('.'+str).parent().parent().collapse('toggle');
		}else{
			$('.nacionalidad').click();
			$('.nacionalidad').parent().parent().collapse('toggle');
		}
		
		$('body').on('click', '#li-menu', function(){
			$(this).attr('style', "background-color: #81C784 !important;")
			lis = $('.collapse .in') // siempre es uno
			$('[data-target="#'+$(lis[0]).attr('id')+'"]').attr('style', "background-color: #f5f5f5 !important;")
			for (var i = 0; i < lis.length; i++){
				if($(lis[i]).attr('id') != $(this).attr('id')){ $(lis[i]).collapse('hide') }
			}
		});

		$('body').on('click', '#forModalEdit', function(e) {
			$('#loader').show();
			href = $(this).attr('href');
			if (href != '#') {
				$(this).attr('href', '#');
				$(this).attr('data-href', href);
			}else{
				href = $(this).data('href');
			}

			$.ajax({
				url: href,
				type: "GET",
				success: function(data, textStatus, xhr){
					cuerpo = $(data).find('#cuerpo').attr('id', 'modal-body');
					$('#modal-body').replaceWith(cuerpo);
					console.log($('#modal-body').find('form').first())
					$('#modal-body').find('form').first().attr('action', href);
				},
				complete: function(){
					$('#myModal').modal('show');
					$('#loader').hide();
				},
			});
		});
	});
</script>
{% endblock %}