{% extends 'base.html.twig' %}

{% block body %}
    <h2>Parametros del Sistema <small>modifique las opciones que aparecen en el formulario</small></h2>
    <hr>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
            <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
            <div id="sidebar" class="sidebar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li><a class="button-line" href="{{ path('admin_nacionalidad_index') }}">{# <i class="fa fa-plus"></i> #}Nacionalidad</a></li>
                    <li><a class="button-line" href="{{ path('configurable_respuesta_cerrada_index') }}">{# <i class="fa fa-plus"></i> #}Respuestas Cerradas</a></li>
                    <li><a class="button-line" href="{{ path('configurable_incapacidades_index') }}">{# <i class="fa fa-plus"></i> #}Incapacidades</a></li>
                    <li><a class="button-line" href="{{ path('configurable_pensionados_instituciones_index') }}">{# <i class="fa fa-plus"></i> #}Pensionados Instituciones</a></li>
                    <li><a class="button-line" href="{{ path('configurable_estado_civil_index') }}">{# <i class="fa fa-plus"></i> #}Estado Civil</a></li>
                    <li><a class="button-line" href="{{ path('configurable_nivel_instruccion_index') }}">{# <i class="fa fa-plus"></i> #}Niveles de Instrucción</a></li>
                    <li><a class="button-line" href="{{ path('configurable_profesiones_index') }}">{# <i class="fa fa-plus"></i> #}Profesiones</a></li>
                    <li><a class="button-line" href="{{ path('configurable_clasificacion_ingreso_familiar_index') }}">{# <i class="fa fa-plus"></i> #}Ingreso Familiar</a></li>
                    <hr>
                    <li><a class="button-line" href="{{ path('configurable_ubicacion-trabajo_index') }}">{# <i class="fa fa-plus"></i> #}Ubicaciones Trabajo</a></li>
                    <li><a class="button-line" href="{{ path('configurable_venta_vivenda_index') }}">{# <i class="fa fa-plus"></i> #}Articulos Venta Vienda</a></li>
                    <li><a class="button-line" href="{{ path('configurable_tipos_ingresos_index') }}">{# <i class="fa fa-plus"></i> #}Cantidades Tipos de Ingreso</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
            <div class="panel panel-info">
                <table class="table table-bordered">
                    <thead class="thead-info">
                        <tr>
                            <th>Id</th>
                            <th>Primernombre</th>
                            <th>Segundonombre</th>
                            <th>Primerapellido</th>
                            <th>Segundoapellido</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {# {% for usuario in usuarios %} #}
                        <tr>
                            <td>No</td>
                        </tr>
                    {# {% endfor %} #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
