{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vocero</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vocero.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ vocero.tipo }}</td>
            </tr>
            <tr>
                <th>Votoselecto</th>
                <td>{{ vocero.votosElecto }}</td>
            </tr>
            <tr>
                <th>Persona</th>
                <td>{{ vocero.persona }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vocero_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vocero_edit', { 'id': vocero.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
