{% embed 'estadisticas/base-estadisticas-generales.html.twig' %}
	
	{% block body %}
	<div class="row">
		{% include 'estadisticas/menu-opciones-estadisticas-generales.html.twig' %}
		<script>var menu_element = document.getElementById('personas').className = 'list-group-item active';</script>
		<div class="col-lg-9 col-sm-9">
			<h3 class="text-center text-info">Estadísticas Generales - Personas Comunidad <i class="fa fa-bar-chart fa-sm pull-left"></i></h3>
			<hr>
			<div class="row grid">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-primary">
						<p class="panel-title text-center negritas">CNE - Jefes de Grupos Familiares</p>
						{% if personas.stat_cne_jgf|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_cne_jgf %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.resp }}"</h4>
								{% for jgf in object.quienes %}
								<a class="label label-primary" target="_blank" href="{{ path('jefegrupofamiliar_show', {'id' : jgf.id }) }}">{{ jgf.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-warning">
						<p class="panel-title text-center negritas">CNE - Personas de la Comunidad</p>
						{% if personas.stat_cne_p|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_cne_p %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.resp }}"</h4>
								{% for p in object.quienes %}
								<a class="label label-warning" target="_blank" href="{{ path('personas_show', {'id' : p.id }) }}">{{ p.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-primary">
						<p class="panel-title text-center negritas">Con Empleo - Jefes de Grupos Familiares</p>
						{% if personas.stat_empleado_jgf|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_empleado_jgf %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.resp }}"</h4>
								{% for jgf in object.quienes %}
								<a class="label label-primary" target="_blank" href="{{ path('jefegrupofamiliar_show', {'id' : jgf.id }) }}">{{ jgf.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-primary">
						<p class="panel-title text-center negritas">Niveles de Instrucción - Jefes de Grupos Familiares</p>
						{% if personas.stat_instruccion_jgf|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_instruccion_jgf %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.nivel }}"</h4>
								{% for jgf in object.quienes %}
								<a class="label label-primary" target="_blank" href="{{ path('jefegrupofamiliar_show', {'id' : jgf.id }) }}">{{ jgf.nombreyapellido() }} ({{ jgf.edad }} a) <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-warning">
						<p class="panel-title text-center negritas">Niveles de Instrucción - Personas de la Comunidad</p>
						{% if personas.stat_instruccion_p|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_instruccion_p %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.nivel }}"</h4>
								{% for p in object.quienes %}
								<a class="label label-warning" target="_blank" href="{{ path('personas_show', {'id' : p.id }) }}">{{ p.nombreyapellido() }} ({{ p.edad }} a) <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-primary">
						<p class="panel-title text-center negritas">Profesiones - Jefes de Grupos Familiares</p>
						{% if personas.stat_profesiones_jgf|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_profesiones_jgf %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.profesion }}"</h4>
								{% for jgf in object.quienes %}
								<a class="label label-primary" target="_blank" href="{{ path('jefegrupofamiliar_show', {'id' : jgf.id }) }}">{{ jgf.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-warning">
						<p class="panel-title text-center negritas">Profesiones - Personas de la Comunidad</p>
						{% if personas.stat_profesiones_p|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_profesiones_p %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.profesion }}"</h4>
								{% for p in object.quienes %}
								<a class="label label-warning" target="_blank" href="{{ path('personas_show', {'id' : p.id }) }}">{{ p.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-primary">
						<p class="panel-title text-center negritas">Discapacidades - Jefes de Grupos Familiares</p>
						{% if personas.stat_discapacidades_jgf|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_discapacidades_jgf %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.discapacidad }}"</h4>
								{% for jgf in object.quienes %}
								<a class="label label-primary" target="_blank" href="{{ path('jefegrupofamiliar_show', {'id' : jgf.id }) }}">{{ jgf.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-warning">
						<p class="panel-title text-center negritas">Discapacidades - Personas de la Comunidad</p>
						{% if personas.stat_discapacidades_p|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_discapacidades_p %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.discapacidad }}"</h4>
								{% for p in object.quienes %}
								<a class="label label-warning" target="_blank" href="{{ path('personas_show', {'id' : p.id }) }}">{{ p.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-primary">
						<p class="panel-title text-center negritas">Pensionados - Jefes de Grupos Familiares</p>
						{% if personas.stat_pensionados_jgf|length == 0 %} <p class="text-center">No se encontró alguno</p> {% endif %}
						{% for object in personas.stat_pensionados_jgf %}
							{% if object.quienes|length > 0 %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.pensionados }}"</h4>
								{% for jgf in object.quienes %}
								<a class="label label-primary" target="_blank" href="{{ path('jefegrupofamiliar_show', {'id' : jgf.id }) }}">{{ jgf.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-warning">
						<p class="panel-title text-center negritas">Pensionados - Personas de la Comunidad</p>
						{% if personas.stat_pensionados_p|length == 0 %} <p class="text-center">No se encontró alguno</p>{% endif %}
						{% for object in personas.stat_pensionados_p %}
							{% if object.quienes|length > 0 %}
							<div class="panel-body">
								<h4 class="bottom-line">{{object.quienes|length}} Respondieron "{{ object.pensionados }}"</h4>
								{% for p in object.quienes %}
								<a class="label label-warning" target="_blank" href="{{ path('personas_show', {'id' : p.id }) }}">{{ p.nombreyapellido() }} <i class="fa fa-external-link"></i></a>
								{% endfor %}
							</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endblock %}
{% endembed %}