<div class="col-lg-3 col-sm-3">
	<h3 class="text-center text-info">Opciones</h3>
	<hr>
	<div class="list-group">
		<a href="{{ path('estadisticas_generales_personas') }}" class="list-group-item" id="personas">
			<h4 class="list-group-item-heading">Personas Comunidad</h4>
			<p class="list-group-item-text hidden-sm">Caracteristicas de los miembros de la comunidad, incluyendo Jefes de Grupos Familiares</p>
		</a>

		<a href="{{ path('estadisticas_generales_economica') }}" class="list-group-item" id="economia">
			<h4 class="list-group-item-heading">Economía</h4>
			<p class="list-group-item-text hidden-sm">Relacionada con las respuestas de los Jefes de Grupo Familiar</p>
		</a>

		<a href="{{ path('estadisticas_generales_vivienda') }}" class="list-group-item" id="vivienda">
			<h4 class="list-group-item-heading">Vivienda</h4>
			<p class="list-group-item-text hidden-sm">Relacionada con las respuestas de los Jefes de Grupo Familiar</p>
		</a>

		<a href="{{ path('estadisticas_generales_salud') }}" class="list-group-item" id="salud">
			<h4 class="list-group-item-heading">Salud</h4>
			<p class="list-group-item-text hidden-sm">Relacionada con las respuestas de los Jefes de Grupo Familiar</p>
		</a>

		<a href="{{ path('estadisticas_generales_servicios') }}" class="list-group-item" id="servicios">
			<h4 class="list-group-item-heading">Servicios</h4>
			<p class="list-group-item-text hidden-sm">Relacionada con las respuestas de los Jefes de Grupo Familiar</p>
		</a>

		<a href="{{ path('estadisticas_generales_participacion') }}" class="list-group-item" id="participacion_comunitaria">
			<h4 class="list-group-item-heading">Participación Comunitaria</h4>
			<p class="list-group-item-text hidden-sm">Relacionada con las respuestas de los Jefes de Grupo Familiar</p>
		</a>
	</div>
</div>