{% extends 'base.html.twig' %}

{% block body %}
    <h4 class="text-center">Preguntas de Situación Comunidad</h4>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-block btn-success" type="submit" value="Modificar" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input class="btn btn-block btn-danger" type="submit" value="Eliminar">
    {{ form_end(delete_form) }}
{% endblock %}
