{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminTipoSituacion</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adminTipoSituacion.id }}</td>
            </tr>
            <tr>
                <th>Situacion</th>
                <td>{{ adminTipoSituacion.situacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admintiposituacion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admintiposituacion_edit', { 'id': adminTipoSituacion.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
