{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Modificar {{ app.user.username }}{% endblock %}
{% block body %}
    <h2 class="text-center"><i class="fa fa-edit fa-x2"></i> Modificar Datos</h2>
    <hr>

    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Informacionde Inicio de Sesión</div>
                <div class="panel-body">
                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        {{ form_row(form.username ,{'label':'Nombre de Usuario'}) }}
                        {{ form_row(form.email ,{'label':'Correo Electronico'}) }}
                        {{ form_row(form.current_password ,{'label':'Contraseña Actual'}) }}
                        
                        <input class="btn btn-primary col-lg-4 col-sm-5" type="submit" value="Guardar Cambios" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-info">
                <div class="panel-heading text-center"><i class="fa fa-exclamation"></i> Información</div>
                <div class="panel-body">
                    <span class="text-center">Aqui puedes modificar su dirección de correo electronico o nombre de usuario. Para completar cualquier cambio debe ingresar su contraseña actual.</span>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
