{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Perfil {{ app.user.username }}{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>Información de su cuenta <i class="fa fa-info fa-fw pull-left"></i></h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-gps">
                <div class="panel-heading">
                    Datos personales <i class="fa fa-list-ul fa-fw pull-right"></i>
                </div>
                <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Cédula</th>
                        <td>{{ user.cedula|number_format(0,',','.') }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ user.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Apellido</th>
                        <td>{{ user.apellido }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento</th>
                        <td>{{ user.fechaNacimiento|date('d \\d\\e F Y') }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}<span class="label label-danger"><i class="fa fa-star fa-fw"></i> ADMINISTRADOR</span>{% endif %}{% if role == 'ROLE_USER' %}<span class="label label-primary"><i class="fa fa-user fa-fw"></i> VENDEDOR</span>{% endif %}{% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Última conexión</th>
                        <td>{{ user.lastlogin|date('d \\d\\e F Y') }}</td>
                    </tr>
                    <tr>
                        <th>¿Bloqueado?</th>
                        <td>{% if not user.locked %}<span class="label label-success"><i class="fa fa-unlock fa-fw"></i> No está bloqueado</span>{% else %}<span class="label label-danger"><i class="fa fa-lock fa-fw"></i> Está bloqueado</span>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Nombre de usuario</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Estado de la Cuenta</th>
                        <td>{% if user.enabled %}<span class="label label-success"><i class="fa fa-unlock fa-fw"></i>Activa</span>{% else %}<span class="label label-danger"><i class="fa fa-lock fa-fw"></i> Inactiva</span>{% endif %}</td>
                    </tr>
                </tbody>
            </table>
                <!-- <div class="panel-footer-gps">
                    
                </div> -->
            </div>
            <a class="btn btn-gpsc-azul" href="{{ path('usuario_edit', { 'id': user.id }) }}"> <i class="fa fa-edit fa-lg pull-left"></i>Editar Datos</a>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-gps">
                <div class="panel-heading">
                    Datos de la Cuenta y Acceso <i class="fa fa-list-ul fa-fw pull-right"></i>
                </div>
                <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nombre de Usuario</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Correo Electronico</th>
                        <td>{{ user.email }}</td>
                    </tr>
                </tbody>
                </table>
                <!-- <div class="panel-footer-gps">
                    
                </div> -->
            </div>
            <a class="btn btn-gpsc-azul" href="{{ path('fos_user_profile_edit') }}"> <i class="fa fa-edit fa-lg pull-left"></i>Modificar</a>
            <a class="btn btn-gpsc-azul" href="{{ path('fos_user_change_password') }}"> <i class="fa fa-edit fa-lg pull-left"></i>Ir a cambiar Contraseña</a>
        </div>
        <div>
    </div>
{% endblock body %}