{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Perfil {{ app.user.username }}{% endblock %}
{% block body %}
	{# <div class="page-header"> #}
		<h2>Información de su cuenta <i class="fa fa-info fa-fw pull-left"></i></h2><hr>
	{# </div> #}
	<div class="row">
		<div class="col-sm-10">
			<table class="table borderless">
				<tr><th class="col-sm-3">Nombres</th><td>{{ user.primerNombre }} {{ user.segundoNombre }}</td></tr>
				<tr><th>Apellidos</th><td>{{ user.primerApellido }} {{ user.segundoApellido }}</td></tr>
				<tr><th>Planillas Agregadas</th><td>Ha registrado {{ user.planillas|length }} en el sistema.</td></tr>
				<tr><th>Correo</th><td>{{ user.email }}</td></tr>
				<tr><th>Usuario</th><td>{{ user.username }}</td></tr>
				<tr><th>Activo<br><small>Indica su estado en el sistema</small></th><td>{% if user.enabled %}Se encuentra activo {% else %} Está inactivo{% endif %}</td></tr>
				<tr><th>Teléfonos</th><td>
					{% if user.telefono|length == 0 %}No tiene ningun número de teléfono{% endif %}
					{% for telf in user.telefono %}{{ telf.codigo }} - {{ telf.numero }}<br>{% endfor %}
					</td></tr>
				<tr><th>Rol en el Sistema</th><td>{% for role in user.roles %}{% if role == 'ROLE_ADMIN' %}<span class="label label-danger"><i class="fa fa-star fa-fw"></i> ADMINISTRADOR</span>{% endif %} {% if role == 'ROLE_USER' %}<span class="label label-primary"><i class="fa fa-user fa-fw"></i> EMPADRONADOR</span>{% endif %}{% endfor %}</td></tr>
			</table>
		</div>
		<div class="col-sm-2">
			<a class="btn btn-success btn-block" href="{{ path('usuarios_edit',{ 'id' : user.id }) }}"> Modificar Mis Datos</a>
			<hr>
			<small class="text-info pull-right">Inicio seasión por última vez en {{ user.lastLogin|date('Y-m-d h:i') }}</small>
		</div>
	</div>
	
{% endblock body %}