{% extends 'base.html.twig' %}

{% block body %}
    <h1>AdminRecoleccionBasura list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adminRecoleccionBasura in adminRecoleccionBasuras %}
            <tr>
                <td><a href="{{ path('configurables_tipo_recoleccion_basura_show', { 'id': adminRecoleccionBasura.id }) }}">{{ adminRecoleccionBasura.id }}</a></td>
                <td>{{ adminRecoleccionBasura.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configurables_tipo_recoleccion_basura_show', { 'id': adminRecoleccionBasura.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configurables_tipo_recoleccion_basura_edit', { 'id': adminRecoleccionBasura.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurables_tipo_recoleccion_basura_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
