{% extends "base_login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="page-header">
        <h1><i class="fa fa-asterisk fa-fw"></i> Cambio de Contraseña Personal</h1>
    </div>
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_row(form.current_password, {'label':'Contraseña Actual'}) }}
        {{ form_row(form.plainPassword.first, {'label':'Nueva Contraseña'}) }}
        {{ form_row(form.plainPassword.second, {'label':'Repetir Nueva Contraseña'}) }}
        
        <div class="row">
            <div class="col-lg-6 col-lg-6 col-xs-12 col-lg-offset-2">
                <input class="btn btn-gpscg btn-block" type="submit" value="GUARDAR NUEVA CONTRASEÑA" />
            </div>
        </div>
    {{ form_end(form) }}

{% endblock body %}
