{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="text-center">Preguntas de Participación Comunitaria</h3>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-block btn-success" type="submit"><i class="fa fa-edit"></i> Modificar</button>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <button class="btn btn-block btn-danger" type="submit"><i class="fa fa-trash"></i> Eliminar</button>
    {{ form_end(delete_form) }}
{% endblock %}
