{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6"><h1 class="text-center">Modificar Datos Situación de Salud</h1></div>
        <div class="col-sm-6">
            <p class="marginless"><span class="negritas">Planilla # {{ edit_form.vars.value.planilla.id }}</span></p>
            <p class="marginless"><span class="negritas">Jefe Grupo Familiar:</span> {{ edit_form.vars.value.planilla.JefeGrupoFamiliar.nombreyapellido() }}</p>
            <p class="marginless"><span class="negritas">Fecha última edición: </span>{{ edit_form.vars.value.planilla.fechayhora() }}</p>
        </div>
    </div>
    <hr>
    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-body">{{ form_row(edit_form.padecencia) }}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-body">{{ form_row(edit_form.ayudaEspecial) }}</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-body">{{ form_row(edit_form.situacionExclusion) }}</div>
                </div>
            </div>
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Actualizar Datos de la Situación Salud y regresar a la Planilla" />
    {{ form_end(edit_form) }}
    <input id="addAjax" type="hidden" data-url="{{ path('new_element_ajax') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/formAyudaEspecial.js') }}"></script>
    <script src="{{ asset('js/formSituacionExclusion.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
            $('.fluid.multiple.search.selection').dropdown({ 
                allowAdditions: true,
                onAdd: function(addedValue, addedText, $addedChoice) {
                    element = $(this).prop('id');
                    console.log(element)
                    $('[name=situacion_salud]').submit(function(e){ e.preventDefault(); });
                    $.ajax({
                        url: $('#addAjax').data('url'),
                        type: "POST",
                        data: {
                            'nombre': addedText,
                            'tipo'  : element,
                        },
                        success: function(data, textStatus, xhr){
                            if (data != null) {
                                option = $('#'+element).children('[value="'+data.nombre+'"]');
                                option.val(data.id);
                                $(option).attr('selected','selected');

                                $.alert({
                                    theme: 'black',
                                    title: 'Exito!',
                                    content: data.respuesta,
                                });
                            }
                        },
                        error: function(data){
                            $addedChoice.remove();
                        },
                        complete: function(){
                            $('[name=situacion_salud]').unbind('submit')
                        },
                    });
                },
            });
        })
    </script>
{% endblock %}