{% extends 'base.html.twig' %}

{% block body %}
    <h1>Situación Salud</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary btn-block" type="submit" value="Guardar Situación de Salud" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}<input class="btn btn-danger btn-block" type="submit" value="Elminar Datos">{{ form_end(delete_form) }}
    
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/formAyudaEspecial.js') }}"></script>
    <script src="{{ asset('js/formSituacionExclusion.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
        })
    </script>
{% endblock %}