{% extends 'base.html.twig' %}

{% block body %}
    <h1>SituacionSalud list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Enfermedad</th>
                <th>Ayudaespecial</th>
                <th>Situacionexclusion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situacionSalud in situacionSaluds %}
            <tr>
                <td><a href="{{ path('situacionsalud_show', { 'id': situacionSalud.id }) }}">{{ situacionSalud.id }}</a></td>
                <td>{% for padecencia in situacionSalud.padecencia %}{{ padecencia.nombre }}{% endfor %}</td>
                <td>{% for ayudas in situacionSalud.ayudaEspecial %}{{ ayudas.nombre }}{% endfor %}</td>
                <td>{% for exclusion in situacionSalud.situacionExclusion %}{{ exclusion.situacion }} ({{ exclusion.cantidad }}){% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('situacionsalud_show', { 'id': situacionSalud.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('situacionsalud_edit', { 'id': situacionSalud.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
