{% extends 'base.html.twig' %}

{% block body %}
    <h1>SituacionSalud</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ situacionSalud.id }}</td>
            </tr>
            <tr>
                <th>Enfermedad</th>
                <td>{% for padecencia in situacionSalud.padecencia %}{{ padecencia.nombre }}{% endfor %}</td>
            </tr>
            <tr>
                <th>Ayudaespecial</th>
                <td>{% for ayudas in situacionSalud.ayudaEspecial %}{{ ayudas.nombre }}{% endfor %}</td>
            </tr>
            <tr>
                <th>Situacionexclusion</th>
                <td>{% for exclusion in situacionSalud.situacionExclusion %}{{ exclusion.situacion }} ({{ exclusion.cantidad }}){% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('situacionsalud_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('situacionsalud_edit', { 'id': situacionSalud.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
