{% extends 'base.html.twig' %}

{% block body %}
    <h2>Nacionalidad</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-primary">
            <tr>
                <th>Id</th>
                <th>Nacionalidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adminNacionalidad in adminNacionalidads %}
            <tr>
                <td><a href="{{ path('admin_nacionalidad_show', { 'id': adminNacionalidad.id }) }}">{{ adminNacionalidad.id }}</a></td>
                <td>{{ adminNacionalidad.nacionalidad }}</td>
                <td>
                    <a href="{{ path('admin_nacionalidad_show', { 'id': adminNacionalidad.id }) }}">show</a> <a href="{{ path('admin_nacionalidad_edit', { 'id': adminNacionalidad.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('admin_nacionalidad_new') }}" id="forModal">Agregar Nueva</a>
{% endblock %}
