{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <h2>Cuaderno de Votación</h2>
            <p>Personas elegibles para participar en el proceso de elección</p>
            
            <a href="{{ path('sic_documentos_cuaderno_votacion_pdf') }}" class="btn btn-primary btn-block"><i class="fa fa-print"></i> Obtener Cuaderno de Votación</a>
        </div>
        <div class="col-sm-9">
            <h3>Vista Preliminar de los Datos</h3>
            <h2 class="negritas text-center">CUADERNO DE VOTACIÓN</h2>
            
            <table class="table table-bordered">
            	<tbody>
            		<tr>
            			<td><span class="negritas">Estado:</span> {{ comunidad.estado }}</td>
            			<td><span class="negritas">Municipio:</span> {{ comunidad.municipio }}</td>
            			<td><span class="negritas">Parroquía:</span> {{ comunidad.parroquia }}</td>
            		</tr>
            		<tr>
            			<td><span class="negritas">Organización:</span> </td>
            			<td colspan="2"><span class="negritas">Lugar o Centro de Votación:</span> </td>
            		</tr>
            	</tbody>
            </table>
            <table id="tabla_votantes" class="table table-bordered table-striped table-hover">
            	<thead>
            		<tr>
            			<th class="text-center">N°</th>
            			<th class="text-center col-sm-3">Apellido y Nombre</th>
            			<th class="text-center col-sm-1">Cédula</th>
            			<th class="text-center">Sello</th>
            			<th class="text-center">Firma</th>
            			<th class="text-center">Huella</th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for votante in votantes %}
            		<tr>
            			<td class="text-center">{{ loop.index }}</td>
            			<td>{{ votante.apellido_nombre_cuaderno|raw }}</td>
            			<td class="text-center">{{ votante.cedula() }}</td>
            			<td></td>
            			<td></td>
            			<td></td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            dataTable = $('#tabla_votantes').DataTable( {
                    "pageLength": 20,
                    // "bLengthChange": false,
                    // "info": true,
                    'stateSave': true,
                    'pagingType': 'full_numbers',
                    "language": {
                        "url": "{{ asset('datatables/espanol.js') }}"
                    },
                    "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    		"<'row'<'col-sm-12'tr>>" +
                    		"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    'columnDefs': [{
				          "targets": [3,4,5],
				          "orderable": false,
				    }],
                });
        });
    </script>
{% endblock %}