{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <h2>Registro Electoral Preliminar</h2>
            {# <hr>
            <p></p>
            <hr> #}
            <a data-url="{{ path('sic_documentos_registro_preliminar_pdf') }}" class="confirm btn btn-primary btn-block"><i class="fa fa-print"></i> Obtener Registro Electoral Preliminar</a>
        </div>
        <div class="col-sm-9">
            <h3>Vista Preliminar de los Datos</h3>
            <table class="table table-bordered">
            	<tbody>
            		{# <tr>
            			<td rowspan="6" class="col-sm-2">
            				<img src="{{ asset('images/cne_logo.jpg') }}" class="img-responsive" style="max-height: 80px; margin-left: 40px; margin-bottom: 10px;" alt="">
            				<p class="negritas text-center">Comisión de Participación Política y Financiamiento</p>
            				<p class="negritas text-center">Oficina Nacional de Participación Ciudadana</p>
            			</td>
            		</tr> #}
            		<tr>
            			<td class="text-center negritas text-uppercase h2"><span>Registro Electoral Preliminar {{ consejo.nombre }}</span></td>
            		</tr>
            		<tr>
            			<td class="text-left text-uppercase"><span class="negritas">Estado:</span> {{ comunidad.estado }}</td>
            		</tr>
            		<tr>
            			<td class="text-left text-uppercase"><span class="negritas">Municipio:</span> {{ comunidad.municipio }}</td>
            		</tr>
            		<tr>
            			<td class="text-left text-uppercase"><span class="negritas">Parroquía:</span> {{ comunidad.parroquia }}</td>
            		</tr>
            		{# <tr>
            			<td class="text-left text-uppercase"><span class="negritas">Nombre De La Instancía Del Poder Popular: Equipo Promotor Provisional </span> {{ consejo.nombre }}</td>
            		</tr> #}
            	</tbody>
            </table>
            <table class="dataTable table table-bordered table-condensed table-hover">
            	<thead>
            		<tr class="text-uppercase" style="background-color: #FFFF00 !important;">
            			<th class="text-center">N°</th>
            			<th class="text-center col-sm-2">Cédula de Identidad</th>
            			<th class="text-center col-sm-3">Apellido y Nombre</th>
            			<th class="text-center col-sm-1">Fecha de Nacimiento</th>
            			<th class="text-center">Dirección</th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for votante in votantesV %}
            		<tr>
            			<td class="text-center">{{ loop.index }}</td>
            			<td class="text-center">{{ votante.nacionalidad }}-{{ votante.cedula() }}</td>
            			<td class="text-center">{{ votante.apellido_nombre }}</td>
            			<td class="text-center">{{ votante.fechaNacimientoRegistroPreliminar() }}</td>
            			<td class="text-center">{{ votante.direccion() }}</td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>

            <table class="dataTable table table-bordered table-condensed table-hover">
            	<thead>
            		<tr class="text-uppercase" style="background-color: #FFFF00 !important;">
            			<th class="text-center">N°</th>
            			<th class="text-center col-sm-2">Cédula de Identidad</th>
            			<th class="text-center col-sm-3">Apellido y Nombre</th>
            			<th class="text-center col-sm-1">Fecha de Nacimiento</th>
            			<th class="text-center">Dirección</th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for votante in votantesE %}
            		<tr>
            			<td class="text-center">{{ loop.index }}</td>
            			<td class="text-center">{{ votante.nacionalidad }}-{{ votante.cedula() }}</td>
            			<td class="text-center">{{ votante.apellido_nombre }}</td>
            			<td class="text-center">{{ votante.fechaNacimientoRegistroPreliminar() }}</td>
            			<td class="text-center">{{ votante.direccion() }}</td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            dataTable = $('.dataTable').DataTable( {
                    "pageLength": 20,
                    "bLengthChange": false,
                    // "info": true,
                    'stateSave': true,
                    'pagingType': 'full_numbers',
                    "language": {
                        "url": "{{ asset('datatables/espanol.js') }}"
                    },
                    "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    		"<'row'<'col-sm-12'tr>>" +
                    		"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                });

            $('a.confirm').confirm({
                theme: 'bootstrap',
                title: 'Continuar',
                confirmButton: 'Descargar',
                confirmButtonClass: 'btn-success',
                cancelButton: 'Cancelar',
                cancelButtonClass: 'btn-danger',
                content: 'Por favor presione "Descargar" para obtener el documento en una pestaña nueva.',
                confirm: function(){
                    window.open($('a.confirm').data('url'), '_blank');
                },
                cancel: function(){
                    $.alert('Se ha cancelado la generación del documento!')
                }
            });
        });
    </script>
{% endblock %}