{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3">
            <h2>Registro Electoral</h2>
            
            <a href="{{ path('sic_documentos_cuaderno_votacion_pdf') }}" class="btn btn-primary btn-block"><i class="fa fa-print"></i> Obtener Cuaderno de Votación</a>
        </div>
        <div class="col-sm-9">
            <h3>Vista Preliminar de los Datos</h3>
            <table class="table table-bordered">
            	<tbody>
            		<tr>
            			<td rowspan="6" class="col-sm-2">
            				<img src="{{ asset('images/cne_logo.jpg') }}" class="img-responsive" style="max-height: 80px; margin-left: 40px; margin-bottom: 10px;" alt="">
            				<p class="negritas text-center">Comisión de Participación Política y Financiamiento</p>
            				<p class="negritas text-center">Oficina Nacional de Participación Ciudadana</p>
            			</td>
            		</tr>
            		<tr>
            			<td class="text-center negritas text-uppercase h2"><span>Registro Electoral</span></td>
            		</tr>
            		<tr>
            			<td class="text-left text-uppercase"><span class="negritas">Estado:</span> {{ comunidad.estado }}</td>
            		</tr>
            		<tr>
            			<td class="text-left text-uppercase"><span class="negritas">Municipio:</span> {{ comunidad.municipio }}</td>
            		</tr>
            		<tr>
            			<td class="text-left text-uppercase"><span class="negritas">Parroquía:</span> {{ comunidad.parroquia }}</td>
            		</tr>
            		<tr>
            			<td class="text-left text-uppercase"><span class="negritas">Nombre De La Instancía Del Poder Popular:</span> {{ consejo.nombre }}</td>
            		</tr>
            	</tbody>
            </table>
            <table id="tabla_registro_electoral" class="table table-bordered table-condensed table-striped table-hover">
            	<thead>
            		<tr>
            			<th class="text-center">N°</th>
            			<th class="text-center col-sm-1">Cédula de Identidad</th>
            			<th class="text-center col-sm-3">Apellido y Nombre</th>
            			<th class="text-center">Dirección</th>
            			<th class="text-center">Fecha de Nacimiento</th>
            		</tr>
            	</thead>
            	<tbody>
            		{% for votante in votantes %}
            		<tr>
            			<td class="text-center">{{ loop.index }}</td>
            			<td class="text-center">{{ votante.cedula() }}</td>
            			<td>{{ votante.apellido_nombre }}</td>
            			<td>{{ votante.direccion() }}</td>
            			<td>{{ votante.fechaNacimiento() }}</td>
            		</tr>
            		{% endfor %}
            	</tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            dataTable = $('#tabla_registro_electoral').DataTable( {
                    // "pageLength": 25,
                    // "bLengthChange": false,
                    // "info": true,
                    'stateSave': true,
                    'pagingType': 'full_numbers',
                    "language": {
                        "url": "{{ asset('datatables/espanol.js') }}"
                    },
                    "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                    		"<'row'<'col-sm-12'tr>>" +
                    		"<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    'columnDefs': [{
				          "targets": [3,4,5],
				          "orderable": false,
				    }],
                });
        });
    </script>
{% endblock %}