{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    	<div class="col-sm-3">
            <h2>Resumen Censo Demográfico</h2>
            <p></p>
            <hr class="little">
            <a data-url="{{ path('sic_documentos_resumen_censo_pdf') }}" class="confirm btn btn-primary btn-block"><i class="fa fa-print"></i> Obtener Resumen del Censo Demográfico</a>
        </div>
        <div class="col-sm-9">
        	<h3>Vista Preliminar de los Datos</h3>
            {# <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('images/banner_comunas_proteccion_social.jpg') }}" alt="" class="img-responsive col-sm-10 col-sm-offset-1">
                </div>
            </div> #}
            <h2 class="negritas text-center">RESUMEN DEL CENSO DEMOGRÁFICO</h2>
            <table class="table table-bordered">
            	<tbody>
            		<tr>
            			<td class="col-sm-6"><span class="negritas">Consejo Comunal:</span> {{ consejo }}</td>
            			<td class="col-sm-6"><span class="negritas">Parroquía:</span> {{ comunidad.parroquia }}</td>
            		</tr>
            		<tr>
            			<td><span class="negritas">Municipio:</span> {{ comunidad.municipio }}</td>
            			<td><span class="negritas">Estado:</span> {{ comunidad.estado }}</td>
            		</tr>
            	</tbody>
            </table>
			<table id="tabla_sectores" class="table table-bordered table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>CALLE / VEREDA / MANZANA / CALLEJÓN</th>
						<th>NRO. VIVIENDAS</th>
						<th>NRO. FAMILIAS</th>
						<th>NRO. HABITANTES</th>
                        <th>MENORES DE 15</th>
						<th>MAYORES DE 15 – 17 AÑOS</th>
						<th>MAYORES DE 18 AÑOS</th>
						<th>INSCRITOS EN C.N.E.</th>
						<th>NRO. ELECTORES</th>
					</tr>
				</thead>
                
				<tbody>
                    {% set num_viviendas = 0 %}
                    {% set num_familias = 0 %}
                    {% set num_habitantes = 0 %}
                    {% set mayoresde = 0 %}
                    {% set menores = 0 %}
                    {% set mayor_edad = 0 %}
                    {% set cne = 0 %}
                    {% set electores = 0 %}

					{% for sector in sectores %}
					<tr>
						<td>{{ sector.sector }}</td>
						<td>{{ sector.num_viviendas }}{% set num_viviendas = num_viviendas + sector.num_viviendas %}</td>
						<td>{{ sector.num_familias }}{% set num_familias = num_familias + sector.num_familias %}</td>
						<td>{{ sector.num_habitantes }}{% set num_habitantes = num_habitantes + sector.num_habitantes %}</td>
                        <td>{{ sector.menores }}{% set menores = menores + sector.menores %}</td>
						<td>{{ sector.mayoresde }}{% set mayoresde = mayoresde + sector.mayoresde %}</td>
						<td>{{ sector.mayor_edad }}{% set mayor_edad = mayor_edad + sector.mayor_edad %}</td>
                        <td>{{ sector.cne }}{% set cne = cne + sector.cne %}</td>
						<td>{{ sector.electores }}{% set electores = electores + sector.electores %}</td>
					</tr>
					{% endfor %}
				</tbody>
                <tfoot>
                    <tr>
                        <td class="negritas">TOTALES</td>
                        <td class="negritas">{{ num_viviendas }}</td>
                        <td class="negritas">{{ num_familias }}</td>
                        <td class="negritas">{{ num_habitantes }}</td>
                        <td class="negritas">{{ menores }}</td>
                        <td class="negritas">{{ mayoresde }}</td>
                        <td class="negritas">{{ mayor_edad }}</td>
                        <td class="negritas">{{ cne }}</td>
                        <td class="negritas">{{ electores }}</td>
                    </tr>
                </tfoot>
			</table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('datatables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            dataTable = $('#tabla_sectores').DataTable( {
                "pageLength": 20,
                // "bLengthChange": false,
                // "info": true,
                'stateSave': true,
                'pagingType': 'full_numbers',
                "language": {
                    "url": "{{ asset('datatables/espanol.js') }}"
                },
                "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                		"<'row'<'col-sm-12'tr>>" +
                		"<'row'<'col-sm-5'i><'col-sm-7'p>>",
            });

            $('a.confirm').confirm({
                theme: 'bootstrap',
                title: 'Continuar',
                confirmButton: 'Descargar',
                confirmButtonClass: 'btn-success',
                cancelButton: 'Cancelar',
                cancelButtonClass: 'btn-danger',
                content: 'Por favor presione "Descargar" para obtener el documento en una pestaña nueva.',
                confirm: function(){
                    window.open($('a.confirm').data('url'), '_blank');
                },
                cancel: function(){
                    $.alert('Se ha cancelado la generación del documento!')
                }
            });
        });
    </script>
{% endblock %}