{% extends 'base.html.twig' %}

{% block body %}
    <h2>Estadísticas Situación Servicios</h2>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <div class="well well-sm">
                <p>Esta información es referente a un total de {{ total }} familias.</p>
            </div>
            <a class="btn btn-primary btn-block pull-rigth" href="#"><i class="fa fa-file-o"></i> Obtener como PDF</a>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Aguas Blancas</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_aguasb %}<tr>
                                        <td>{{item.aguasb}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Aguas Servidas</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_aguasservidas %}<tr>
                                        <td>{{item.aguasservidas}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Gas</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_gas %}<tr>
                                        <td>{{item.gas}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Sistema Electríco</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_sistemas_electrico %}<tr>
                                        <td>{{item.sistemas_electrico}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Recolección de Basura</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_basura %}<tr>
                                        <td>{{item.basura}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Telefonía</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_telefonia %}<tr>
                                        <td>{{item.telefonia}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Transporte</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_transporte %}<tr>
                                        <td>{{item.transporte}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Mecanismos de Información</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_mecanismoInformacion %}<tr>
                                        <td>{{item.mecanismoInformacion}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Servicios Comunales</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_serviciosComunales %}<tr>
                                        <td>{{item.serviciosComunales}}</td>
                                        <td>{{item.cantidad}}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Medidor de Aguas Blancas</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_medidor %}<tr>
                                        <td>{{item.resp }}</td>
                                        <td>{{item.cantidad }}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Tanques</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_tanque %}<tr>
                                        <td>{{item.resp }}</td>
                                        <td>{{item.cantidad }}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4 class="panel-title">Pipotes</h4></div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-condensed highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-height="400">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Cant.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in stat_pipotes %}<tr>
                                        <td>{{item.resp }}</td>
                                        <td>{{item.cantidad }}</td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/highchart.js') }}"></script>
    <script src="{{ asset('js/highchart/highcharts.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('table.highchart').highchartTable();
        });
    </script>
{% endblock %}