{% extends 'base.html.twig' %}

{% block body %}
    <h1>SituacionServicios list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aguasblancas</th>
                <th>Aguasservidas</th>
                <th>Gas</th>
                <th>Sistemaelectrico</th>
                <th>Recoleccionbasura</th>
                <th>Telefonia</th>
                <th>Transporte</th>
                <th>Mecanismoinformacion</th>
                <th>Servicioscomunales</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situacionServicio in situacionServicios %}
            <tr>
                <td><a href="{{ path('situacionservicios_show', { 'id': situacionServicio.id }) }}">{{ situacionServicio.id }}</a></td>
                <td>{{ situacionServicio.aguasBlancas }}</td>
                <td>{{ situacionServicio.aguasServidas }}</td>
                <td>{{ situacionServicio.gas }}</td>
                <td>{{ situacionServicio.sistemaElectrico }}</td>
                <td>{{ situacionServicio.recoleccionBasura }}</td>
                <td>{{ situacionServicio.telefonia }}</td>
                <td>{% for transp in situacionServicio.transporte %}{{ transp.nombre }}<br>{% endfor %}</td>
                <td>{% for mecInfo in situacionServicio.mecanismoInformacion %}{{ mecInfo.nombre }}<br>{% endfor %}</td>
                <td>{% for servCom in situacionServicio.serviciosComunales %}{{ servCom.nombre }}<br>{% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('situacionservicios_show', { 'id': situacionServicio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('situacionservicios_edit', { 'id': situacionServicio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
