{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6"><small class="text-info">ant. Situaci贸n Salud</small></div>
        <div class="col-xs-6 text-right"><small class="text-info">sig. Participaci贸n Comunitaria</small></div>
    </div>
    <div class="progress">
      <div class="progress-bar active progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
        Paso 7 de 9
      </div>
    </div>

    <h2>Situaci贸n Servicios</h2>
    
    {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.aguasBlancas) }}</div>
                            <div class="col-sm-6">{{ form_row(form.lts_tanque) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.cant_pipotes) }}</div>
                            <div class="col-sm-6">{{ form_row(form.medidor) }}</div>
                        </div>
                        {{ form_row(form.aguasServidas) }}
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.gas) }}</div>
                            <div class="col-sm-6">{{ form_row(form.empresaGas) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">{{ form_row(form.cantBombonas) }}</div>
                            <div class="col-sm-6">{{ form_row(form.capacidadBombona) }}</div>
                        </div>
                        {{ form_row(form.sistemaElectrico) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {{ form_row(form.telefonia) }}
                        {{ form_row(form.recoleccionBasura) }}
                        {{ form_row(form.transporte) }}
                        {{ form_row(form.mecanismoInformacion) }}
                        {{ form_row(form.serviciosComunales) }}
                    </div>
                </div>
            </div>
        </div>

        <input class="btn btn-primary btn-block" type="submit" value="Guardar Situaci贸n de Salud y Continuar" />
    {{ form_end(form) }}
    <input id="addAjax" type="hidden" data-url="{{ path('new_element_ajax') }}">
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.ui.dropdown').dropdown();
            $('.fluid.multiple.search.selection').dropdown({ 
                allowAdditions: true,
                onAdd: function(addedValue, addedText, $addedChoice) {
                    element = $(this).prop('id');
                    console.log(element)
                    $('[name=situacion_servicios]').submit(function(e){ e.preventDefault(); });
                    $.ajax({
                        url: $('#addAjax').data('url'),
                        type: "POST",
                        data: {
                            'nombre': addedText,
                            'tipo'  : element,
                        },
                        success: function(data, textStatus, xhr){
                            if (data != null) {
                                option = $('#'+element).children('[value="'+data.nombre+'"]');
                                option.val(data.id);
                                $(option).attr('selected','selected');

                                $.alert({
                                    theme: 'black',
                                    title: 'Exito!',
                                    content: data.respuesta,
                                });
                            }
                        },
                        error: function(data){
                            $addedChoice.remove();
                        },
                        complete: function(){
                            $('[name=situacion_servicios]').unbind('submit')
                        },
                    });
                },
            });
        })
    </script>
{% endblock %}